<!-- 下2行なぜこれで クロームver102 の重さが軽減できるのか検証が終わっていないが保留にして入れておく -->
<div class="dummy-will-change" appMovable [movable.option]="movableOption">
</div>
<div class="component is-3d is-pointer-events-none is-grab" [style.width.px]="size * gridSize"
  appMovable [movable.option]="movableOption" (movable.ondragstart)="onMove()" (movable.ondragend)="onMoved()">
  <div class="component-content is-pointer-events-auto is-3d"
    appRotable [rotable.option]="rotableOption" (rotable.ondragstart)="onMove()" (rotable.ondragend)="onMoved()">
    <img *ngIf="imageFile" class="card-image is-3d chrome-smooth-image-trick" [src]="(isFront ? frontImage.url : backImage.url) | safe: 'resourceUrl'">
    <div *ngIf="!isFront && hasOwner && 0 < ownerName.length" class="name-tag is-nowrap has-length-limit is-black-background will-change" [ngStyle]="{'transform': 'translateY(-75%) translateX(-50%) translateX(' + size * gridSize / 2 +'px)'}">
      <span class="is-3d">{{ownerName}}</span>
    </div>
    <img *ngIf="isHand && frontImage" class="card-image thumbnail-transform is-translucent is-3d will-change chrome-smooth-image-trick" [src]="frontImage.url | safe: 'resourceUrl'">
    <ng-container *ngIf="!isIconHidden  && !isLock">
      <div class="rotate-grab of-left-top is-3d will-change">
        <i class="material-icons">autorenew</i>
      </div>
      <div class="rotate-grab of-left-bottom is-3d will-change">
        <i class="material-icons">autorenew</i>
      </div>
      <div class="rotate-grab of-right-bottom is-3d will-change">
        <i class="material-icons">autorenew</i>
      </div>
      <div class="rotate-grab of-right-top is-3d will-change">
        <i class="material-icons">autorenew</i>
      </div>
      <div class="border-bg is-pointer-events-none is-3d will-change"></div>
    </ng-container>
    <div *ngIf="isLock && dispLockMark" class="lock-icon-mark is-nowrap is-black-background is-3d will-change" [ngStyle]="{'transform': 'translateY(0%) translateX(-50%) translateX(' + size * gridSize / 2 +'px)'}">
      <i class="material-icons" style="display: inline;">lock</i>
    </div>
  </div>
</div>