<div>
  <div *ngFor="let audio of audios" class="box">
    <button (click)="selectBgm(audio)"  >登録</button>

    <button *ngIf="audio !== auditionPlayer?.audio || auditionPlayer?.paused" (click)="play(audio)" [disabled]="!audio.isReady" >試聴/再生</button>
    <button *ngIf="audio === auditionPlayer?.audio && !auditionPlayer?.paused" (click)="stop()" [disabled]="!audio.isReady" >試聴/停止</button>
    <span *ngIf="audio === auditionPlayer?.audio && !auditionPlayer?.paused">【試聴中】</span>
    <span>{{audio.name}}</span>
  </div>
  <div *ngIf="audios.length < 1" >音楽がアップロードされていません。</div>
</div>
