<div [@flyInOut]="'in'" [ngClass]="{'pointer-events-none': isPointerDragging, 'is-full-screen': isFullScreen, 'is-minimized': isMinimized && !isFullScreen}" class="draggable-panel"
  [style.left.px]="left" [style.top.px]="top" [style.width.px]="width" [style.height.px]="height"
  [resizable.disable]="isMinimized || isFullScreen" [resizable.align]="!isAbleRotateButton ? 'normal' : isHorizontal ? 'horizontal' : 'vertical'" [draggable.disable]="isFullScreen" [draggable.stack]="'.draggable-panel'" appDraggable appResizable #draggablePanel>
  <div class="title" #titleBar>
    <button *ngIf="isAbleRotateButton" style="padding: 0px; height: 14px; margin-top: 3px; margin-left: 1px" (click)="toggleRotate()"><i class="material-icons" style="font-size: 14px;">pivot_table_chart</i></button>
    <div [ngClass]="{'rotateble': isAbleRotateButton}">{{panelService.title}}</div>
    <div class="title-button">
      <button *ngIf="isAbleMinimizeButton" (click)="toggleMinimize()"><i class="material-icons" [style.font-size.px]="isMinimized ? 12 : 14">{{ isMinimized ? 'crop_din' : 'minimize' }}</i></button>
      <button *ngIf="isAbleFullScreenButton" (click)="toggleFullScreen()"><i class="material-icons" [style.font-size.px]="isFullScreen && !isMinimized ? 12 : 14">{{ !isFullScreen ? 'fullscreen' : !isMinimized ? 'crop_din' : 'minimize' }}</i></button>
      <button *ngIf="isAbleCloseButton" (click)="close()"><i class="material-icons" style="font-size: 14px">close</i></button>
    </div>
  </div>
  <div class="scrollable-panel" [ngClass]="{'overlay': isAbleRotateButton, 'horizontal': isHorizontal}" [style.display]="isMinimized && !isFullScreen ? 'none' : null" #scrollablePanel>
    <ng-content></ng-content>
    <div #content></div>
  </div>
</div>
