:host {
  display: block;
}

.draggable-panel {
  box-sizing: border-box;
  overflow: visible;
  position: absolute;

  color: #444;
  background: linear-gradient(-30deg, rgba(240,218,189, 0.9), rgba(255, 244, 232, 0.9));
  border: solid 1px #999;

  padding: 0px;
  top: 200px;

  height: 200px;
  width: 300px;
  max-height: 100%;
  max-width: 100%;
  cursor: grab;
}

.scrollable-panel {
  box-sizing: border-box;
  overflow: auto;
  position: absolute;
  top: 25px;
  bottom: 0;
  width: 100%;
  padding: 8px;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 12px;
  height: 25px;
  padding: 2px 5px;
  width: 100%;
  background-color: #555;
  color: #CCC;
  user-select: none;
}

.title-button {
  position: absolute;
  right: 0;
  top: 0;
}

.title button {
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  color: #CCC;
}

.pointer-events-none {
  pointer-events: none;
}

/* chrome safari opera */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .scrollable-panel.overlay  {
    overflow: overlay;
  }
}

.scrollable-panel.horizontal {
  overflow-x: auto;
  overflow-y: hidden;
}

.rotateble {
  display: inline;
  top: -3px;
  position: relative;
}

.is-minimized {
  height: 27px !important;
}

.is-full-screen {
  left: 0px !important;
  top: 0px !important;
  width: 100vw !important;
  height: 100vh !important;
  cursor: default;
}

.draggable-panel.is-full-screen {
  border: 0px none;
}

.draggable-panel.i-am-gm {
  background: linear-gradient(-30deg, rgba(240, 208, 208, 0.9), rgba(255, 236, 236, 0.9));
  /*background: linear-gradient(-30deg, rgba(240,218,189, 0.9), rgba(255, 244, 232, 0.9));*/
}