.text {
    font-weight: bolder;
    white-space: pre-wrap;
    word-break: break-all;
}

.icon {
    display: inline-block;
    height: 2rem;
    vertical-align: middle;
    margin-right: 3px;
}

.help {
    font-size: smaller;
    white-space: pre-wrap;
    word-break: break-all;
}