.drop-zone {
  border: 2px dashed #555;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 24px bold 'Vollkorn';
  color: #444;
  cursor: pointer;
}

.large-font {
  font-size: 64px;
}

.small-font {
  font-size: 12px;
}

.image {
  font-size: 0;
  display: inline-block;
  border: 2px solid transparent;
}

.image:hover {
  border: 2px dotted red;
}

.image img {
  vertical-align: bottom;
  transition-duration: 120ms;
}

.image.selected {
  border: 2px solid red;
}

.selecter .image:not(.selected) img {
  filter: brightness(50%);
  opacity: 0.7;
}

.badge {
  position: absolute;
  top: -4px;
  right: 0;
}

.sticky-top {
  position: sticky;
  top: 0;
  background-color: rgba(240, 218, 189, 0.9);
  border-bottom: 1px dotted #666;
  z-index: 100;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
  background-color: rgba(240, 218, 189, 0.9);
  border-top: 1px dotted #666;
  z-index: 100;
}

.word-tag {
  font-size: smaller;
  margin-right: 3px;
  display: inline-block;
  color: black;
  font-weight: bolder;
}
.word-tag::before {
  content: '🏷️';
}
.word-tag:hover {
  color: red;
}

.word-selecter {
  padding : 5px;
  user-select: none;
}

.word-selecter label {
  display: inline-block;
  position: relative;
}

.word-selecter input[type="checkbox"] {
  display: none;
}

.word-selecter input[type="checkbox"] + div {
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  font-size: 12px;
  background-color: transparent;
  color: #444; 
  border: solid 1px #555;
  padding: 2px 8px;
  margin: 2px;
  border-radius: 100px;
  cursor: pointer;

  height: 1.6em;
}

.word-selecter input[type="checkbox"] + div:hover {
  background-color: #888;
  color: #eee;
  border: solid 1px #555;
}

.word-selecter input[type="checkbox"]:checked + div {
  background: #555;
  color: #CCC;
}

.word-selecter input[type="checkbox"]:checked + div.all-tags {
  background-color: #eee;
  color: darkcyan;
}

.grow {
  text-shadow    : 
       1px  1px 0px #ffffff,
      -1px  1px 0px #ffffff,
       1px -1px 0px #ffffff,
      -1px -1px 0px #ffffff,
       1px  0px 0px #ffffff,
       0px  1px 0px #ffffff,
      -1px  0px 0px #ffffff,
       0px -1px 0px #ffffff; 
}