<div>
  カード表示部分です001
  <div id="card-stack-image">
    <div class="card-image-box" #cardArea style="height:0px,width:100%">
      カード表示部分です
<!--
          <img class="tachie-image pos00" #tachie00 *ngIf="0 < imageFileUrl_00.length" 
          [src]="imageFileUrl_00 | safe: 'resourceUrl'"  
          [ngStyle]="{'transform': 'translateX(  calc( (' + tachieAreaWidth  + 'px - 100% ) / 11 * 0  ) ) translateY( ' + tachieY_Pos + 'px)',
          'z-index': zIndex_00 , 'opacity': opacity_00 ,'height': tachieAreaHeight00 + 'px'}" 
          (mousedown)="tachieClick(0)"/>
-->

    </div>
  </div>
</div>
