.stand-container {
    display: flex;
    flex-direction: row;
}

.stand-image-container {
    width: 150px;
    height: 150px;
}

.stand-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
    transform-origin: bottom;
    z-index: 5;
}

.stand-image-button {
    display: block;
    margin-top: -154px;
    margin-left: -4px;
    position: relative;
    z-index: 10;
}

.postfix-text {
    width: 8em;
}

.position-indicate {
    display: inline-block;
    font-size: smaller;
    width: 3em;
}

.remove-button {
    font-weight: bolder;
    color: red;
    background-color: transparent;
}
.remove-button:hover {
  background-color: #eee;
}


.icon-image-box {
    position: relative;
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 0.5rem;
    color: black;
    /* filter: drop-shadow(1px 1px 0px rgb(255, 244, 232)) drop-shadow(-1px 1px 0px rgb(255, 244, 232)) drop-shadow(-1px -1px 0px rgb(255, 244, 232)) drop-shadow(1px -1px 0px rgb(255, 244, 232)); */
    z-index: 100;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 2px;
  }
  .icon-image-box img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 0.5rem;
    border: 2px solid transparent;
  }
  .icon-image-box:hover {
    z-index: 600;
  }
  .icon-image-box:hover img {
    border: 2px dotted rgba(255, 0, 0, 40);
  }
  .icon-image-box.current-icon {
    z-index: 500;
  }
  .icon-image-box.current-icon img {
    border: 2px solid red;
  }
  .icon-image-box:not(.current-icon) {
    z-index: 400;
  }

  
.inverse {
  transform: scaleX(-1);
}
.inverser {
  transition: transform 132ms 0s ease;
}
.hollow {
  opacity: 0.6;
  filter: blur(1px);
}
.black-paint {
  filter: brightness(0);
}

.aura {
  transition: filter 0.2s ease-in-out;
}

.aura.black {
  filter: drop-shadow(0 -6px 6px black);
}
.aura.blue {
  filter: drop-shadow(0 -6px 6px #33f);
}
.aura.green {
  filter: drop-shadow(0 -6px 6px #3f3);
}
.aura.cyan {
  filter: drop-shadow(0 -6px 6px #3ff);
}
.aura.red {
  filter: drop-shadow(0 -6px 6px #f00);
}
.aura.magenta {
  filter: drop-shadow(0 -6px 6px #f0f);
}
.aura.yellow {
  filter: drop-shadow(0 -6px 6px #ff3);
}
.aura.white {
  filter: drop-shadow(0 -6px 6px #fff);
}

.disabled-text {
  color: gray;
}

.self-only {
  color: red;
}