<div *ngIf="isVisible && animationType == 0" appDraggable [draggable.allowOverHalf]="true"
  #cutInContainerElement class="container" 
  @cutInFadeInOut (@cutInFadeInOut.done)="isVisible ? null : end()"
  style="position: absolute"
  [style.width.px]="pixcelWidth - (isBorder ? 6 : 0)"
  [style.height.px]="pixcelHeight - (isBorder ? 6 : 0)"
  [style.left.px]="pixcelPosX"
  [style.top.px]="pixcelPosY"
  [style.z-index]="zIndex"
  [style.pointer-events]="isVisible ? 'auto' : 'none'"
  [ngClass]="{test: isTest, secret: isSecret, minimaize: isMinimize, 'is-border': isBorder, 'is-grab': !isPointerDragging, 'is-grabbing': isPointerDragging}"
  (dblclick)="stop()"
  (mousedown)="draggstart()"
  (mouseup)="draggend()"
  (mouseleave)="draggend()"
  (mouseout)="draggend()"
  (mousemove)="isPointerDragging ? draggstart() : false">
  <div *ngIf="isTest" class="test-indicator grow left-top">TEST</div>
  <div *ngIf="isTest" class="test-indicator grow right-top">TEST</div>
  <div *ngIf="isTest" class="test-indicator grow left-bottom">TEST</div>
  <div *ngIf="isTest" class="test-indicator grow right-bottom">TEST</div>
  <div *ngIf="isSecret" class="secret-indicator grow left-top"><i class="material-icons" style="font-size: smaller">visibility</i> For Your Eyes Only</div>
  <div *ngIf="isSecret" class="secret-indicator grow right-bottom" style="text-align: right">For Your Eyes Only <i class="material-icons" style="font-size: smaller">visibility</i></div>
  <div *ngIf="isIndicateSender" class="name-indicator grow right-top" style="text-align: right"><span [style.color]="senderColor"><span style="display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis" [style.width.px]="pixcelWidth - (isBorder ? 6 : 0)">{{ senderName }}{{ isMine ? '（あなた）' : '' }}</span></span></div>
  <div *ngIf="isIndicateSender" class="name-indicator grow left-bottom"><span [style.color]="senderColor"><span style="display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis" [style.width.px]="pixcelWidth - (isBorder ? 6 : 0)">{{ senderName }}{{ isMine ? '（あなた）' : '' }}</span></span></div>
  <img #cutInImageElement 
    [style.pointer-events]="isVisible ? 'auto' : 'none'"
    [style.object-fit]="objectFit"
    [src]="cutInImage.url | safe: 'resourceUrl'" (load)="onImageLoad()" (contextmenu)="onContextMenu($event)">
</div>
<div *ngIf="isVisible && animationType == 1" appDraggable [draggable.allowOverHalf]="true"
  #cutInContainerElement class="container" 
  @cutInBounceInOut (@cutInBounceInOut.done)="isVisible ? null : end()"
  style="position: absolute"
  [style.width.px]="pixcelWidth - (isBorder ? 6 : 0)"
  [style.height.px]="pixcelHeight - (isBorder ? 6 : 0)"
  [style.left.px]="pixcelPosX"
  [style.top.px]="pixcelPosY"
  [style.z-index]="zIndex"
  [style.pointer-events]="isVisible ? 'auto' : 'none'"
  [ngClass]="{test: isTest, secret: isSecret, minimaize: isMinimize, 'is-border': isBorder, 'is-grab': !isPointerDragging, 'is-grabbing': isPointerDragging}"
  (dblclick)="stop()"
  (mousedown)="draggstart()"
  (mouseup)="draggend()"
  (mouseleave)="draggend()"
  (mouseout)="draggend()"
  (mousemove)="isPointerDragging ? draggstart() : false">
  <div *ngIf="isTest" class="test-indicator grow left-top">TEST</div>
  <div *ngIf="isTest" class="test-indicator grow right-top">TEST</div>
  <div *ngIf="isTest" class="test-indicator grow left-bottom">TEST</div>
  <div *ngIf="isTest" class="test-indicator grow right-bottom">TEST</div>
  <div *ngIf="isSecret" class="secret-indicator grow left-top"><i class="material-icons" style="font-size: smaller">visibility</i> For Your Eyes Only</div>
  <div *ngIf="isSecret" class="secret-indicator grow right-bottom" style="text-align: right">For Your Eyes Only <i class="material-icons" style="font-size: smaller">visibility</i></div>
  <div *ngIf="isIndicateSender" class="name-indicator grow right-top" style="text-align: right"><span [style.color]="senderColor"><span style="display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis" [style.width.px]="pixcelWidth - (isBorder ? 6 : 0)">{{ senderName }}{{ isMine ? '（あなた）' : '' }}</span></span></div>
  <div *ngIf="isIndicateSender" class="name-indicator grow left-bottom"><span [style.color]="senderColor"><span style="display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis" [style.width.px]="pixcelWidth - (isBorder ? 6 : 0)">{{ senderName }}{{ isMine ? '（あなた）' : '' }}</span></span></div>
  <img #cutInImageElement 
    [style.pointer-events]="isVisible ? 'auto' : 'none'"
    [style.object-fit]="objectFit"
    [src]="cutInImage.url | safe: 'resourceUrl'" (load)="onImageLoad()" (contextmenu)="onContextMenu($event)">
</div>