.container {
  margin: 0px;
  padding: 0px;
}

img:hover {
  outline: 2px dotted #22F;
}
.container.minimaize img {
  outline: 2px solid #22F;
}

.grow {
  text-shadow    : 
        1px  1px 0px #ffffff,
      -1px  1px 0px #ffffff,
        1px -1px 0px #ffffff,
      -1px -1px 0px #ffffff,
        1px  0px 0px #ffffff,
        0px  1px 0px #ffffff,
      -1px  0px 0px #ffffff,
        0px -1px 0px #ffffff; 
}

.test-indicator {
  position: absolute;
  pointer-events: none;
  z-index: 5;
  color: blue;
  font-size: smaller;
  padding: 0px 3px 2px 3px;
  font-weight: bolder;
}

.secret-indicator {
  position: absolute;
  pointer-events: none;
  z-index: 5;
  color: gray;
  font-size: smaller;
  padding: 0px 3px 2px 3px;
  font-weight: bolder;
  opacity: 0.6;
}

.name-indicator {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  padding: 0px 3px;
  font-weight: bolder;
  font-size: smaller;
}