.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;

  -webkit-flex-flow: row wrap; /* Safari */
  flex-flow:  row wrap;

  -webkit-justify-content: flex-start; /* Safari */
  justify-content: flex-start;

  -webkit-align-items: stretch; /* Safari */
  align-items: stretch;

}
.flex-item {
  margin: 5px;
  -webkit-flex: 1 0 auto; /* Safari */
  flex: 1 0 auto;
  box-sizing: border-box;
  -webkit-flex-grow: 1; /* Safari */
  flex-grow: 1;
  max-width: 100%;
}

.no-grow{
  -webkit-flex-grow: 0; /* Safari */
  flex-grow: 0;
}

.images-select {
  display: flex;
}

.grow {
  text-shadow    : 
        1px  1px 0px #ffffff,
      -1px  1px 0px #ffffff,
        1px -1px 0px #ffffff,
      -1px -1px 0px #ffffff,
        1px  0px 0px #ffffff,
        0px  1px 0px #ffffff,
      -1px  0px 0px #ffffff,
        0px -1px 0px #ffffff; 
}

/*2022/1/16現在、クロームバージョン: 97.0.4692.71（Official Build） （64 ビット）
キャレットの点滅で負荷がかかることへの対策不透明度指定*/
.is-caret {
  caret-color: rgba(0,0,0,0.95);
}
