<div class="flex-container">
  <div class="flex-item no-grow">
    <div>
      <button (click)="createCutIn()">新しいカットインを作る</button>
    </div>
    <select style="width: 15em;" size="20" (change)="selectCutIn($event.target.value)" [ngModel]="selectedCutIn?.identifier">
      <option *ngFor="let cutIn of getCutIns()" value="{{cutIn.identifier}}">{{cutIn.name}}</option>
    </select>
  </div>
  <div class="flex-item" style="width:380px">
    <ng-container *ngIf="!isEmpty || selectedCutIn">
      <div class="images-select">
        <div>
          画像 <ng-container *ngIf="isEditable"><span *ngIf="isYouTubeCutIn">：YouTube有効</span></ng-container>

          <div (click)="openCutInImageModal()"  style="height:120px;" class="grow">
            <img height="120" [src]="cutInImageUrl | safe: 'resourceUrl'">
            <i style="font-size: 32px ;margin-left:-28px" class="material-icons">{{ isYouTubeCutIn ? 'movie' : '' }}</i>
          </div>
        </div>
      </div>
      <div>名称 :
        <input class="is-caret" [(ngModel)]="cutInName" placeholder="Name" [attr.disabled]="!isEditable ? '' : null" />
      </div>

      <div >
        <button  (click)="playCutIn()" [disabled]="" >カットイン再生</button>
        <button  (click)="stopCutIn()" [disabled]="" >カットイン停止</button>
        <button  (click)="previewCutIn()" [disabled]="" >自分だけ再生</button><br>
      </div>
      <div style = "margin-left:20px">
        音楽データ :
        <button (click)="openCutInBgmModal()">設定</button><br>
        LINK:<span *ngIf="isCutInBgmUploaded()" >OK：</span><span *ngIf="!isCutInBgmUploaded()" >NG：</span><br>
        <ng-container *ngIf="!isCutInBgmUploaded()">
          <span *ngIf="cutInAudioName.length>0 " >音楽ファイルがアップされていません</span>
          <span *ngIf="cutInAudioName.length<=0 " >音楽ファイルが設定されていません</span>
        </ng-container>
        <ng-container *ngIf="isCutInBgmUploaded()">
          <span *ngIf="isEditable" >{{cutInAudioName}}</span>
          <span *ngIf="!isEditable" ></span>
        </ng-container>
      </div>
      <div>
        <ng-container *ngIf="isEditable">
          <span *ngIf="selectedCutIn.videoId">標準サイズで表示：</span>
          <span *ngIf="!selectedCutIn.videoId">元サイズで表示：</span>
        </ng-container>
        <input type="checkbox" [(ngModel)]="cutInOriginalSize" name="cutInOriginalSize" [attr.disabled]="!isEditable ? '' : null"/>
      </div>
      <div>
        Width :<input class="is-caret" [(ngModel)]="cutInWidth" type="number" min="{{minSizeWidth}}" max="{{maxSizeWidth}}" style="width: 5em;" [attr.disabled]="!isEditable || cutInOriginalSize ? '' : null">
        縦横比を維持 :<input type="checkbox" [(ngModel)]="keepImageAspect" name="keepImageAspect" 
        [attr.disabled]="!isEditable || cutInOriginalSize ? '' : null" (click)="chkImageAspect()" />
      </div>
      <div>
        Height :<input class="is-caret" [(ngModel)]="cutInHeight" type="number" min="{{minSizeHeight}}" max="{{maxSizeHeight}}" style="width: 5em;" [attr.disabled]="!isEditable || cutInOriginalSize  ? '' : null">
      </div>
      <div>
        <input [(ngModel)]="cutInX_Pos" type="range" min="0" max="100" name="cutInX_PosWidth" [attr.disabled]="!isEditable ? '' : null"/>
        X位置 :<input class="is-caret" [(ngModel)]="cutInX_Pos" type="number" min="0" max="100" style="width: 5em;" [attr.disabled]="!isEditable ? '' : null">
      </div>
      <div>
        <input [(ngModel)]="cutInY_Pos" type="range" min="0" max="100" name="cutInX_PosWidth" [attr.disabled]="!isEditable ? '' : null"/>
        Y位置 :<input class="is-caret" [(ngModel)]="cutInY_Pos" type="number" min="0" max="100" style="width: 5em;" [attr.disabled]="!isEditable ? '' : null">
      </div>
      <div>
        ループ再生：<input type="checkbox" [(ngModel)]="cutInIsLoop" name="cutInIsLoop" [attr.disabled]="!isEditable ? '' : null"/>
      </div>
      <div>
        再生時間 :<input class="is-caret" [(ngModel)]="cutInOutTime" type="number" min="0" style="width: 5em;" [attr.disabled]="!isEditable ? '' : null">
      </div>
      <div>
        タグ名称 :<input class="is-caret" [(ngModel)]="cutInTagName" placeholder="" style="width: 5em;" [attr.disabled]="!isEditable ? '' : null" />
        チャット末尾発動：<input type="checkbox" [(ngModel)]="chatActivate" name="chatActivate" [attr.disabled]="!isEditable ? '' : null"/>
      </div>
      <div>
      YouTube再生 :<input type="checkbox" [(ngModel)]="cutInIsVideo" name="cutInIsVideo" [attr.disabled]="!isEditable ? '' : null" (change) = "changeYouTubeInfo()" />
        URL :<input class="is-caret" [(ngModel)]="cutInVideoURL" placeholder="URL" [attr.disabled]="!isEditable ? '' : null" (input) = "changeYouTubeInfo()" /><br>
        <a href="https://www.youtube.com/terms" target="_blank" class="outer-link" (click)="openYouTubeTerms()">YouTube 利用規約</a>
        :機能使用前に確認ください
      </div>
      <div>
<p style="font-size:0.4em">※カットインの挙動<br>
タグ名称が同名のカットインは先に再生しているものを停止します(タグ空欄含む)<br>
タグ名称が空欄で音楽が設定されている場合、ジュークボックスのBGMを停止します<br>
また、そのようなカットインはジュークボックスでBGMを再生すると停止します<br>
銃撃音のSE等、BGMと同時再生したいカットインはタグを設定してください<br>
</p>
      </div>
      <hr/>
      <div>
        <ng-container *ngIf="!isDeleted">
          <button (click)="save()">保存</button>
          <button class="danger" (click)="delete()" [attr.disabled]="getCutIns().length <= 0 ? '' : null">削除</button>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
<ng-container *ngIf="isEmpty">
  <div style="font-size: 12px;">※カットインが１つも作成されていません。「新しいカットインを作る」から新しいカットインを作成することができます。</div>
</ng-container>
