
.tachie-image-box {

/*
  height:250px;
*/
/*  width: 100px;
  max-height: 120px;
  overflow: hidden;
  vertical-align: bottom;
  margin-left: 0.5em;
  margin-bottom: -6px;
  border-radius: 1em;
*/
}


img{
}

.tachie-image {
  position: absolute;
  height:250px;
  padding: 0;
  vertical-align: bottom;
  z-index: 1;
/*  vertical-align: bottom;*/
}

/*
.tachiearea{
  width:100%;

  overflow: hidden;
  vertical-align: bottom;
  margin-left: 0.5em;
  margin-bottom: -6px;
  border-radius: 1em;
  z-index: 1;
}
*/

.tachie{

/* 
 position: absolute;
*/
}

.pos00{
}

.pos01{

}

.pos02{

}

.pos03{

}




.character-image-box {
}

.character-image {
}


.component {
/*
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: visible;
  color: #444;
  z-index: 9000;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
*/
}



