<!--<h2>チャットシステム</h2>-->
<div class="component">
<div class="log">
  <chat-tab *ngIf="chatTab" [chatTab]="chatTab" (onAddMessage)="scrollToBottom()"></chat-tab>
  <div *ngIf="!chatTab">※チャットタブの内容が更新されました。チャットタブを選択しなおすか、このチャットウィンドウを開きなおしてください。</div>
</div>
<div class="sticky-bottom">
  <form>
<!-- entyu -->
<!--
  {{chatTab.chatMessages.length}}<BR>
  {{chatTab.pos_num}}<BR>
  {{chatTab.imageIdentifier[chatTab.pos_num] }}<BR>
  {{test}}<BR>
  <ng-container *ngIf="chatTab">
  <ng-container *ngIf="chatTab.imageIdentifier">
    {{chatTab.imageIdentifier}}
    </ng-container>

  </ng-container>
    <button type="submit" (click)="testadd()">
      <span>TEST</span>
     </button>
  
    テスト{{testmess}}<BR>
-->
  <div id="tachie" display="flex" flex-direction="row" justify-content="space-evenly">
    <ng-container *ngIf="chatTab">

    <img *ngIf="0 < imageFileUrl_00.length" [src]="imageFileUrl_00 | safe: 'resourceUrl'" height="320"/>
    <img *ngIf="0 < imageFileUrl_01.length" [src]="imageFileUrl_01 | safe: 'resourceUrl'" height="320"/>
    <img *ngIf="0 < imageFileUrl_02.length" [src]="imageFileUrl_02 | safe: 'resourceUrl'" height="320"/>
    </ng-container>
  </div>
<!-- entyu end -->
    <div class="chat-tab">
      <label *ngFor="let chatTab of chatMessageService.chatTabs; trackBy: trackByChatTab">
        <input name="chat-tab" type="radio" value="{{chatTab.identifier}}" ng-control="options" [(ngModel)]="chatTabidentifier">
        <div>{{chatTab.name}}<badge *ngIf="chatTab.hasUnread" class="badge" [count]="chatTab.unreadLength"></badge></div>
      </label>
      <button class="tab-setting small-font" (click)="showTabSetting()"><i class="material-icons small-font">settings</i>タブ設定</button>
    </div>
  </form>
  <chat-input [chatTabidentifier]="chatTabidentifier" [(gameType)]="gameType" [(sendFrom)]="sendFrom" (chat)="sendChat($event)"></chat-input>
</div>
<!--<div style="white-space:pre-wrap; font-size: 8px;"><span>{{gameHelp}}</span></div>-->