<div class="cut-in" *ngIf="cutIn" id="{{cutInAreaId}}">
  <youtube-player #videoPlayerComponent 
    [style.visibility]="isVisible"
    [videoId]="videoId" 
    [width]="youTubeWidth"
    [height]="youTubeHeight" 
    suggestedQuality="default" 
    [playerVars]="{autoplay: 1, controls: 0, start: cutIn.videoStart, loop: (cutIn && cutIn.isLoop ? 1 : 0), playsinline: 1, rel: 0, listType: 'playlist', list: (playListId ? playListId : null), playlist: (playListId ? null : videoId), disablekb: 1, fs: 0, iv_load_policy: 3, modestbranding: 1}"
    (ready)="onPlayerReady($event)"
    (stateChange)="onPlayerStateChange($event)">
  </youtube-player>
<!--
  <img *ngIf="videoId"
    style="pointer-events: auto"
    draggable="false"
    [style.object-fit]="objectFit"
    [src]="'https://img.youtube.com/vi/' + videoId + '/hqdefault.jpg'"
    (error)="onErrorFallback()">
-->
  <img *ngIf="!videoId" [src]="cutIn.cutInImage.url | safe: 'resourceUrl'">
</div>
