.component {
  box-sizing: border-box;
  overflow: visible;
  position: absolute;

  background: linear-gradient(-30deg, rgba(240,218,189, 0.9), rgba(255, 244, 232, 0.9));
  border: solid 1px #999;
  padding: 0px;

  white-space: nowrap;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  -moz-user-drag: none;
  -webkit-user-drag: none;
  z-index: 9900;
}
.submenu-panel {
  position: absolute;
  left: calc(100% - 4px);
  top: -16px;
}
.icons-panel {
  padding-bottom: 2px;
}
.icons-panel ul {
  width: 54px;
  padding: 1px;
}
.icons-panel ul> li {
  padding: 1px 0px;
}
.pointer-events-none {
  pointer-events: none;
}
.is-max-limit {
  max-height: 100%;
  max-width: 100%;
}
.title{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 18em;
  font-size: 12px;
  text-align: center;
  padding: 4px 16px;
  margin: 0 2px;
  color: #444;
  border-bottom: 1px solid #AAA;
}
.menu-title {
  display: inline-block;
}
hr.separator {
  margin: 0.1em -12px;
  height: 1px;
  border: 0;
  background-color: #AAA;
}
.sub-menu-arrow {
  display: inline-block;
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 1px;
}
ul {
  list-style: none;
  padding: 2px 0;
  margin: 0;
}
ul > li {
  position: relative;
  cursor: -moz-default;
  cursor: -webkit-default;
  cursor: default;

  padding: 2px 20px;
  font-size: 12px;
  color: #444;
}
ul > li.hasHighlight:hover {
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.8);
}

.menu-title:not(.icon-menu) {
  overflow: hidden;
  max-width: 16.5em;
  text-overflow: ellipsis;
}

td.altitude {
  vertical-align: middle;
}

input.altitude {
  writing-mode: bt-lr;   
  appearance: slider-vertical;
  width: 8px;
  height: 100%;
  padding: 3px;
}

.disabled .menu-title, .disabled .material-icons {
  color: gray;
}

.altitude-view {
  color: black;
  vertical-align: top;
  width: 3em;
  text-align: right;
}

.ruler {
  color: #444;
  font-size: small;
  padding-left: 4px;
  padding-right: 2px;
}

.default {
  font-weight: bolder;
}

.imagebox {
  display: inline-block;
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.image {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 0.5rem;
}

.icon-menu input {
  display: none;
}

.icon-menu img {
  border: 2px solid transparent;
  z-index: 400;
}
.icon-menu:hover img {
  border: 2px dotted rgba(255, 0, 0, 40);
  z-index: 600;
}
.icon-menu.default img {
  border: 2px solid red;
  z-index: 500;
}

.color-indicator {
  font-size: larger;
  text-shadow: 
  1px  1px 0px #ffffff,
  -1px  1px 0px #ffffff,
   1px -1px 0px #ffffff,
  -1px -1px 0px #ffffff,
   1px  0px 0px #ffffff,
   0px  1px 0px #ffffff,
  -1px  0px 0px #ffffff,
   0px -1px 0px #ffffff;
  margin-right: -0.2rem;
}