<div class="component" [ngClass]="{'submenu-panel': isSubmenu, 'is-max-limit': !isSubmenu, 'pointer-events-none': isPointerDragging}" (mouseleave)="hideSubMenu()" #root>
  <div *ngIf="0 < title.length" class="title">{{title}}</div>
  <div style="display: flex; align-items: top">
    <div *ngIf="altitudeHande" class="altitude ruler" style="display: flex; align-self: stretch; flex-direction: column; align-content: center">
      <div style="margin-top: 2em;">高</div><div style="align-self: center; margin-top: auto; margin-bottom: auto">0</div><div style="margin-bottom: 2em;">低</div>
    </div>
    <div *ngIf="altitudeHande" class="altitude"><input #altitudeSlider class="altitude" title="{{altitudeHande.altitude}}" [(ngModel)]="altitudeHande.altitude" type="range" max="12" min="-12" step="0.5" orient="vertical"></div>
    <div style="flex-grow: 1;">
      <div *ngIf="altitudeHande">
        <div class="title" [style.color]="titleColor" [style.font-weight]="titleBold ? 'bolder' : 'normal'"><span style="font-size: small;" *ngIf="altitudeHande"> (高度 <input type="number" step="0.1" style="font-size: small; width:3.6em; text-align:right" [(ngModel)]="altitudeHande.altitude">)</span>
        </div>
      </div>
      <ul>
        <ng-container *ngIf = "title != 'インデックス'">
          <ng-container *ngFor="let action of actions">
            <ng-container *ngTemplateOutlet="action?.type === 'separator' ? separator : actionMenu; context: { action: action }"></ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf = "title == 'インデックス'">
          <ng-container *ngFor="let action of actions">
            <ng-container *ngTemplateOutlet="action?.type === 'separator' ? separator : indexMenu; context: { action: action }"></ng-container>
          </ng-container>
        </ng-container>
      </ul>
    </div>
  </div>
</div>

<ng-template #indexMenu let-action="action">
  <li class="hasHighlight" (click)="indexAction(action.line,action.id)">
    <div class="menu-title">{{action.line}}:{{action.name}}</div>
  </li>
</ng-template>

<ng-template #actionMenu let-action="action">
  <li class="hasHighlight" (click)="doAction(action)" (mouseenter)="showSubMenu(action)">
    <div class="menu-title">
      <input *ngIf="action.name && action.name.indexOf('☑') == 0" type="checkbox" [disabled]="action.disabled" checked/>
      <input *ngIf="action.name && action.name.indexOf('☐') == 0" type="checkbox" [disabled]="action.disabled" />
      <input *ngIf="action.name && action.name.indexOf('◉') == 0" type="radio" [disabled]="action.disabled" checked />
      <input *ngIf="action.name && action.name.indexOf('○') == 0" type="radio" [disabled]="action.disabled" />
      {{ action.name.replace('☑', '').replace('☐', '').replace('◉', '').replace('○', '') }}
    </div>
    <div *ngIf="action.subActions" class="sub-menu-arrow">
      <i class="material-icons" style="font-size: 1em; vertical-align: bottom;">arrow_forward_ios</i>
    </div>
    <context-menu *ngIf="subMenu && parentMenu === action" [title]="action.name" [actions]="subMenu" [isSubmenu]="true"></context-menu>
  </li>
</ng-template>
<ng-template #separator let-action="action">
  <li>
    <hr class="separator" />
  </li>
</ng-template>