<div class="table" [ngClass]="{ 'direct-message': isDirect }">
  <div class="table-cell imagebox">
    <img *ngIf="0 < imageFile.url.length" class="image" [src]="imageFile.url | safe: 'resourceUrl'" />
  </div>
  <div class="table-cell" style="width:100%">
    <div>
      <ng-select class="ud-select" style="width: 12em;" [(ngModel)]="sendFrom" [clearable]="false">
        <ng-option *ngIf="!onlyCharacters" [value]="myPeer?.identifier">{{myPeer?.name}}（あなた）</ng-option>
        <ng-option *ngFor="let gameCharacter of gameCharacters" [value]="gameCharacter.identifier">{{gameCharacter.name}}
        </ng-option>
      </ng-select> ＞
      <ng-select class="ud-select" style="width: 10em;" [(ngModel)]="sendTo" [clearable]="false">
        <ng-option [value]="''">全員</ng-option>
        <ng-option *ngFor="let peer of otherPeers" [value]="peer.identifier">{{peer.name}}
          <ng-container *ngIf="peer === myPeer">（あなた）</ng-container>
        </ng-option>
      </ng-select>
      <ng-select class="ud-select" style="width: 15em; margin-left:.1em;" (change)="loadDiceBot($event)" [(ngModel)]="gameType"
        [ngModelOptions]="{standalone: true}" [clearable]="false">
        <ng-option *ngFor="let diceBotInfo of diceBotInfos" [value]="diceBotInfo.id">{{diceBotInfo.name}}</ng-option>
      </ng-select>
      <button (click)="showDicebotHelp()">?</button>
    </div>
    <div>
      <ng-container *ngIf="!isGameTypeInList()">
        <font size="1.5" color="#FF0000">※ダイスボットが見つかりません(おそらくバージョン違いです)再選択してください。</font>
      </ng-container>
    </div>
    <div class="table">
      <div class="table-cell color-box-tag">
        <ng-container *ngIf="!isGameCharacter">
          <div class="color" (click)="setColorNum(0);"
          [ngStyle]="{'background-color': playerChatColor_0 ,'border':'solid ' + colorSelectorBoxBorder_0 + ' #666666' , 'border-radius': colorSelectorRadius_0 }"
          ></div>
          <div class="color" (click)="setColorNum(1);"
          [ngStyle]="{'background-color': playerChatColor_1 ,'border':'solid ' + colorSelectorBoxBorder_1 + ' #666666' , 'border-radius': colorSelectorRadius_1 }"
          ></div>
          <div class="color" (click)="setColorNum(2);"
          [ngStyle]="{'background-color': playerChatColor_2 ,'border':'solid ' + colorSelectorBoxBorder_2 + ' #666666' , 'border-radius': colorSelectorRadius_2 }"
          ></div>
        </ng-container>
        <ng-container *ngIf="isGameCharacter">
          <div class="color" (click)="setColorNum(0);"
          [ngStyle]="{'background-color': charactorChatColor_0 ,'border':'solid ' + colorSelectorBoxBorder_0 + ' #666666' , 'border-radius': colorSelectorRadius_0 }"
          ></div>
          <div class="color" (click)="setColorNum(1);"
          [ngStyle]="{'background-color': charactorChatColor_1 ,'border':'solid ' + colorSelectorBoxBorder_1 + ' #666666' , 'border-radius': colorSelectorRadius_1 }"
          ></div>
          <div class="color" (click)="setColorNum(2);"
          [ngStyle]="{'background-color': charactorChatColor_2 ,'border':'solid ' + colorSelectorBoxBorder_2 + ' #666666' , 'border-radius': colorSelectorRadius_2 }"
          ></div>
        </ng-container>
      </div>
      <div class="table-cell color-setting-tag">
        <button class="color-setting small-font" (click)="shoeColorSetting();"><i class="material-icons small-font">settings</i>色設定</button>
      </div>

<!-- 立ち絵ここから-->
      <div class="table-cell tachie-tag ">
        <ng-container *ngIf="1 > selectCharacterTachieNum">
          <input type="range" [style]="'font-size: 0.8em; min-width: 1em; width:' + (10) + 'em; --min: 0; --max: ' + 0 + '; --val:' + 10 +';' | safe: 'style'"
          min="0" max="0" [(ngModel)]="tachieNum" />
           0/0 立ち絵
        </ng-container>
        <ng-container *ngIf="1 <= selectCharacterTachieNum">
          <input type="range" [style]="'font-size: 0.8em; min-width: 1em; width:' + (10) + 'em; --min: 0; --max: ' + 0 + '; --val:' + 10 +';' | safe: 'style'"
          min="0" max="{{selectCharacterTachieNum -1}}" [(ngModel)]="tachieNum" />
         {{tachieNum}}/{{selectCharacterTachieNum - 1}} 立ち絵
<!--          <ng-container *ngIf="1 <= selectCharacterTachieNum">-->
            <ng-container *ngIf="selectCharacterTachie"> 
              <ng-container *ngIf="selectCharacterTachie.currentValue.length > 0"> 
                {{selectCharacterTachie.currentValue}}
              </ng-container>
            </ng-container>
<!--          </ng-container>-->
        </ng-container>
      </div>
      <div class="table-cell">
      </div>

    </div>
<!-- ここまで-->
    <div>
      <form>
        <textarea class="chat-input" placeholder="Enter:送信 Shift+Enter:改行 Ctrl+上下:履歴 Ctrl+左右:タブ切替" [(ngModel)]="text"
          [ngModelOptions]="{standalone: true}" (input)="onInput()" (keydown.enter)="sendChat($event)"
          (keydown.control.arrowup)="moveHistory($event, -1)" (keydown.control.arrowdown)="moveHistory($event, 1)"
          (keydown.control.arrowleft)="tabSwitchAction($event, -1)" (keydown.control.arrowright)="tabSwitchAction($event, 1)"
          #textArea></textarea>
        <button type="submit" (click)="sendChat(null)">SEND</button>
      </form>
    </div>
    <div class="writing-info">
      <ng-container *ngIf="0 < writingPeerNames.length">
        <span *ngFor="let peerName of writingPeerNames; index as i" style="font-weight: bold;">{{peerName}}<span
            *ngIf="writingPeerNames.length !== (i + 1)">, </span></span>
        <span> が入力中...</span>
      </ng-container>
    </div>
  </div>
</div>
