:host {
  display: block;
}

.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;

  -webkit-flex-flow: row wrap; /* Safari */
  flex-flow:  row wrap;

  -webkit-justify-content: flex-start; /* Safari */
  justify-content: flex-start;

  -webkit-align-items: stretch; /* Safari */
  align-items: stretch;

}
.flex-item {
  margin: 5px;
  -webkit-flex: 1 0 auto; /* Safari */
  flex: 1 0 auto;
  box-sizing: border-box;
  -webkit-flex-grow: 1; /* Safari */
  flex-grow: 1;
  max-width: 100%;
}

.no-grow{
  -webkit-flex-grow: 0; /* Safari */
  flex-grow: 0;
}

.images-select {
  display: flex;
}

.is-hidden {
  visibility: hidden;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.9em;
}

.chat-input {
  font-family: inherit;
  font-size: 13px;

  width: calc(100% - 100px);
  height: calc(1em + 4px);
  min-height: calc(1em + 7px);
  max-height: calc(6em + 7px);
  resize: none;
  overflow: auto;

  padding: 1px;
  margin: 5px;

  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-word;
  vertical-align: bottom;
}

/*2022/1/16現在、クロームバージョン: 97.0.4692.71（Official Build） （64 ビット）
キャレットの点滅で負荷がかかることへの対策不透明度指定*/
.is-caret {
  caret-color: rgba(0,0,0,0.95);
}
