:host {
  display: block;
}

.is-grab {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.is-grabbing {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.is-3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.will-change {
  will-change: opacity;
}

.backface-off {
  backface-visibility: hidden;
}

.is-transition {
  -webkit-transition: -webkit-transform 132ms linear;
  transition: transform 132ms linear;
}

.upright-transform {
  -webkit-transition: -webkit-transform 132ms ease;
  transition: transform 132ms ease;
}

.is-pointer-events-none {
  pointer-events: none;
}

.is-pointer-events-auto {
  pointer-events: auto;
}

.component {
  position: absolute;
  height: 50px;
  width: 50px;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
}

.dummy-will-change {
  position: absolute;
  height: 1px;
  width: 1px;
  will-change: opacity;
}

.component-content {
  width: 100%;
  height: 100%;
}

.pedestal-grab {
  z-index: -1;
  backface-visibility: hidden;
  position: absolute;
  top: -22px;
  left: -6px;
  height: calc(100% + 44px);
  width: calc(100% + 12px);
  cursor: default;
  border-radius: 37px;
}

.pedestal-grab-border {
  pointer-events: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-top: solid 28px #999;
  border-left: solid 12px #999;
  border-right: solid 12px #CCC;
  border-bottom: solid 28px #CCC;
  border-radius: 37px;
}

.pedestal-inner {
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: solid 6px #FFCC80;
  border-radius: 25px;
}

.pedestal-outer {
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: solid 2px #212121;
  border-radius: 25px;
}

.upright-transform {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotateX(-90deg) translateY(-50%);
}

.is-fit-width {
  height: auto;
  width: 100%;
}

.fill-frame {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.image {
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

/*  width: 100%;*/
  height: auto;
  vertical-align: bottom;
}
/*entyu_5*/
.buff-tag {
  box-sizing: border-box;
  padding: 3px 9px;
/*  border:10px #666;*/
  border: 1px #222 solid; 
  border-radius: 12px;
  position: absolute;
  margin: auto;
  top: -35px;
}

.is-buff-background {
  color: #222;
/*  background-color: rgba(100, 100, 0, 0.5);*/
/*  background-color: rgba(240,218,189, 0.8);*/
  background-color: rgba(240,229,215, 0.8);

}

/**/
.name-tag {
  box-sizing: border-box;
  font-size: 15px;
  padding: 3px 9px;
  border-radius: 24px;
  position: absolute;
  top: -30px;
}

.rotate-frame {
  bottom: 0;
  left: 0;
  right: 0;
}

.rotate-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: auto;
}

.is-nowrap {
  white-space: nowrap;
}

.is-black-background {
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.8);
  backface-visibility: hidden;
}

.backface-off {
 backface-visibility: hidden;
}

.has-length-limit {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 24em;
}

.rotate-grab-icon {
  position: absolute;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  cursor: -moz-default;
  cursor: -webkit-default;
  cursor: default;
  z-index: 1;
  padding: 2px;
  background-color: #CCCCCC;
  border-radius: 100%;
  color: #444;
  font-size: 8px;
}

.of-top {
  top: -42px;
}

.of-bottom {
  bottom: -30px;
}

.of-front {
  position: absolute;
  width: 24px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #444;
}

.of-back {
  position: absolute;
  width: 24px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #444;
}

.rotate-grab {
  opacity: 0;
}

.component:hover .rotate-grab {
  opacity: 0.5;
}

.component:active .rotate-grab {
  opacity: 0;
}

.component .rotate-grab:hover, .component .rotate-grab:active {
  opacity: 1;
}

.material-icons {
  display: none;
}

.altitude-indicator {
  font-size: 10px;
}

.elevation-indicator, .altitude-indicator {
  padding-left: 2px;
  color: black;
  text-shadow: #f5f5f5 0px 0px 3px;
  backface-visibility: hidden;
}

.elevation-indicator {
  font-weight: bolder;
  font-size: 12px;
}

.component:hover .material-icons, .component:active .material-icons {
  display: inline;
}

.component.focused {
  animation-name: focused;
  animation-timing-function: ease;
  animation-duration: 1s;
}

.lock-icon {
  font-size: 15px;
  vertical-align: middle;
}

@keyframes focused {
  0% { box-shadow: none; }
  50% { box-shadow:
          0px 0px 10px 5px #ff0,
          inset 0px 0px 10px 5px #ff0; }
  100% { box-shadow: none; }
}

.buff-folding-dummy {
  width: 1px;
  height: 1px;
  
}

.buff-folding-icon {
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
  margin-left:100%;
  position:absolute;
  width:20px;
  height:20px;
  left:-20px;
  top:-20px;
  background-color: rgba(240,229,215, 0.8);
  box-sizing: border-box;
  border: 1px #222 solid; 
  border-radius: 4px;
  cursor: pointer;
}

.target-icon {
  width: 30px;
  font-size: 20px;
  left: 6px;
  box-sizing: border-box;
  position: absolute;
}

.scrolldown4{
	position:absolute;
	animation: arrowmove 1s ease-in-out infinite;
}

@keyframes arrowmove{
      0%{top: -80px;}
     100%{top: -60px;}
 }


/* 矢印の描写 */
.scrolldown4:before {
  top: -60px;
}

/*描画位置*/
.scrolldown4:after{
	content:"";
	position: absolute;
	top: -80px;
}

.target-icon-buff {
  width: 30px;
  font-size: 20px;
  margin-left: 50%;
  left: -10px;
  box-sizing: border-box;
  position: absolute;
  margin-top:
}

.target-icon-buff2 {
  width: 30px;
  font-size: 20px;
  margin-left: 50%;
  left: -20px;
  box-sizing: border-box;
  position: absolute;
  margin-top:
}

.scrolldown5{
	position:absolute;
	animation: arrowmove2 1s ease-in-out infinite;
}

@keyframes arrowmove2{
      0%{top: -50px;}
     100%{top: -30px;}
 }


/* 矢印の描写 */
.scrolldown5:before {
  top: -30px;
}

/*描画位置*/
.scrolldown5:after{
	content:"";
	position: absolute;
	top: -50px;
}


