<div class="component is-3d is-grab is-pointer-events-none" [style.width.px]="size * gridSize"
  [style.height.px]="size * gridSize" appMovable [movable.option]="movableOption" (movable.ondragstart)="onMove()"
  (movable.ondragend)="onMoved()">
  <div class="component-content is-3d" [@bounceInOut]="'in'">
    <div class="component-content is-3d is-pointer-events-auto" appRotable [rotable.option]="rotableOption"
      (rotable.ondragstart)="onMove()" (rotable.ondragend)="onMoved()">
      <div [@switchImagePedestal]="gameCharacter.currntImageIndex" class="pedestal-inner is-3d" [ngClass]="{'selected': selected, 'not-inventory': !gameCharacter.isInventoryIndicate }"></div>
      <div [@switchImagePedestal]="gameCharacter.currntImageIndex" class="pedestal-outer is-3d"></div>
      <div class="pedestal-grab rotate-grab">
        <div class="pedestal-grab-border">
          <div class="material-icons of-front">autorenew</div>
          <div class="material-icons of-back">autorenew</div>
        </div>
      </div>
      <div class="is-pointer-events-none is-3d">
        <div class="image-box is-3d" [style.width.px]="size * gridSize" [style.height.px]="size * gridSize * heightWidthRatio" style="pointer-events: none;"
          [ngStyle]="{'transform-origin': '50% ' + ((size * gridSize) + 'px'), 'transform': 'translateY(-10%) scale(1.0,' + (1.0 / heightWidthRatio) + ') translateY(-' + (99 / heightWidthRatio) + '%) rotateZ(' + roll + 'deg)'}">
          <div class="aura is-3d" style="pointer-events: none;" [ngClass]="{black: aura == 0, blue: aura == 1, green: aura == 2, cyan: aura == 3, red: aura == 4, magenta: aura == 5, yellow: aura == 6, white: aura == 7}">
            <div class="is-3d" style="pointer-events: none; transition: transform 132ms 0s ease;"
              [ngStyle]="{'transform': 'scaleX(' + (isInverse ? '-1' : '1') + ')'}">  
                <img *ngIf="isDropShadow && (0 < imageFile.url.length || 0 < shadowImageFile.url.length)" [style.height.px]="size * gridSize * heightWidthRatio" class="image drop-shadow is-3d" style="pointer-events: none;" [src]="((0 < shadowImageFile.url.length) ? shadowImageFile.url : imageFile.url) | safe: 'resourceUrl'" 
                  style="filter: brightness(0) blur(1px);"
                  [ngStyle]="{'opacity': isHollow ? 0.4 : 0.7}" [@switchImageShadow]="gameCharacter.currntImageIndex">
            </div>
          </div>
        </div>
      </div>
      <div class="upright-transform is-fit-width is-3d" [ngClass]="{fall: altitude == 0}" (dblclick)="nextImage()"
        [ngStyle]="{'transform': 'rotateY(90deg) rotateZ(-90deg) rotateY(-90deg) translateY(-50%) translateY(' + (-altitude) * gridSize +'px)'}">
        <div class="rotate-frame is-3d" [style.width.px]="size * gridSize" [style.height.px]="size * gridSize"
          appRotable [(rotable.value)]="roll" (rotable.ondragstart)="onMove()" (rotable.ondragend)="onMoved()">
          <div class="rotate-inner is-3d">
            <div *ngIf="0 < name.length" class="name-tag is-nowrap is-black-background is-3d"
              [ngStyle]="{'transform': 'translateX(-50%) translateX(' + size * gridSize / 2 +'px) translateY(' + nameplateOffset + 'px) rotateX(' + nameTagRotate + 'deg)'}">
              <div class="fornt-tag has-length-limit is-3d">{{name}}</div>
              <div class="back-tag has-length-limit is-3d">{{name}}</div>
            </div>
            <div class="is-pointer-events-none is-3d aura" [@switchImage]="gameCharacter.currntImageIndex"
              [ngClass]="{black: aura == 0, blue: aura == 1, green: aura == 2, cyan: aura == 3, red: aura == 4, magenta: aura == 5, yellow: aura == 6, white: aura == 7}">
              <div class="inverser is-3d" [ngClass]="{inverse: isInverse, 'black-paint': isBlackPaint, 'hollow': isHollow}">
                <span class="image-box is-3d" [style.width.px]="size * gridSize" [style.height.px]="size * gridSize * heightWidthRatio">
                  <img #characterImage *ngIf="0 < imageFile.url.length" class="image is-3d"  [src]="imageFile.url | safe: 'resourceUrl'"
                    [style.height.px]="size * gridSize * heightWidthRatio" (load)="onImageLoad()">
                </span>
              </div>
            </div>
            <div class="grab-group is-3d">
              <div class="rotate-grab rotate-grab-icon of-top is-3d"
                [ngStyle]="{'transform': 'translateX(-50%) translateX(' + size * gridSize / 2 +'px) translateY(' + (nameplateOffset - 10 - (size * gridSize * heightWidthRatio)) + 'px)'}">
                <i class="material-icons">autorenew</i>
              </div>
              <div class="rotate-grab rotate-grab-icon of-bottom is-3d"
                [ngStyle]="{'transform': 'translateX(-50%) translateX(' + size * gridSize / 2 +'px'}">
                <i class="material-icons">autorenew</i>
              </div>
            </div>
          </div>
        </div>
        <div #chatBubble class="chat-bubble is-3d" 
          [ngStyle]="{'bottom': (chatBubbleAltitude - (isEmote ? gridSize / 2 : 0) - 4) + 'px',
            'transform': 'translateX(-50%) translateX(' + (size * gridSize / 2) +'px) rotateY(' + (rotate + viewRotateZ) + 'deg) rotateX(' + (chatBubbleXDeg) + 'deg)',
            'visibility': gameCharacter.isShowChatBubble ? 'visible' : 'hidden'}">
          <div *ngIf="isListen" [@fadeAndScaleInOut]="isEmote" class="is-3d" style="transform-origin: center bottom;" [style.color]="!isEmote && isWhisper ? '#ccc' : dialogColor">
            <div class="is-3d">
              <p class="is-3d chat-bubble-buyo" [style.min-width.px]="dialogChatBubbleMinWidth" [style.border-color]="dialogColor" style="position: absolute; backface-visibility: hidden" 
                [ngClass]="{'emote': isEmote, rubied: isRubied, 'is-whisper': isWhisper}"><span class="face-icon-box is-3d" 
                  *ngIf="!isEmote && isUseFaceIcon && 0 < dialogFaceIcon?.url.length">
                  <img class="face-icon is-3d" [style.border-color]="dialogColor" [src]="dialogFaceIcon.url | safe: 'resourceUrl'">
                </span><span [innerHTML]="dialogText"></span></p>
              <p class="is-3d chat-bubble-buyo back" [style.min-width.px]="dialogChatBubbleMinWidth" [style.border-color]="dialogColor" style="backface-visibility: hidden; transform: rotateY(-180deg)"
                [ngClass]="{'emote': isEmote, rubied: isRubied, 'is-whisper': isWhisper}"><span class="face-icon-box is-3d" 
                  *ngIf="!isEmote && isUseFaceIcon && 0 < dialogFaceIcon?.url.length">
                  <img class="face-icon is-3d" [style.border-color]="dialogColor" [src]="dialogFaceIcon.url | safe: 'resourceUrl'">
                </span><span [innerHTML]="dialogText"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="is-3d" *ngIf="isAltitudeIndicate && (altitude <= -0.5 || 0.5 <= altitude)"
      style="display: flex; flex-flow: column nowrap; justify-content: space-between; border-left: 2px dashed black; transform-origin: top left"
      [style.height.px]="math.abs(altitude * gridSize) - (altitude > 0 ? 0 : chatBubbleAltitude + 4)"
      [ngStyle]="{transform: 'translateX(' + (size * gridSize / 2) + 'px) translateY(' + (-size * gridSize / 2) + 'px) rotateX(-90deg) translateY(' + (altitude > 0 ? -altitude * gridSize : 0) + 'px) rotateY(' + (viewRotateZ) + 'deg)'}">
      <div class="is-3d" [style.visibility]="altitude > 0 ? 'visible' : 'hidden'">
        <span class="elevation-indicator is-3d" style="position: absolute"><i>{{ elevation }}</i></span>
        <span class="elevation-indicator is-3d" style="position: absolute; transform: rotateY(-180deg)"><i>{{ elevation }}</i></span>
      </div>
      <div class="is-3d">
        <span class="altitude-indicator is-3d" style="position: absolute">{{ math.abs(altitude) }}</span>
        <span class="altitude-indicator is-3d" style="position: absolute; transform: rotateY(-180deg)">{{ math.abs(altitude) }}</span>
      </div>
      <div class="is-3d" [style.visibility]="altitude < 0 ? 'visible' : 'hidden'">
        <span class="elevation-indicator is-3d" style="position: absolute"><i>{{ elevation }}</i></span>
        <span class="elevation-indicator is-3d" style="position: absolute; transform: rotateY(-180deg)"><i>{{ elevation }}</i></span>
      </div>
    </div>
  </div>
</div>