<div class="component is-3d is-grab is-pointer-events-none" [style.width.px]="size * gridSize"
  [style.height.px]="size * gridSize" appMovable [movable.option]="movableOption" (movable.ondragstart)="onMove()"
  (movable.ondragend)="onMoved()">
  <div class="component-content is-3d" [@bounceInOut]="'in'">
    <div class="component-content is-3d is-pointer-events-auto" appRotable [rotable.option]="rotableOption"
      (rotable.ondragstart)="onMove()" (rotable.ondragend)="onMoved()">
      
      <div *ngIf="!this.gameCharacter.hideInventory" class="pedestal-inner" [style]="{ 'border': 'solid 6px #FFCC80'}"></div> 
      <div *ngIf="this.gameCharacter.hideInventory" class="pedestal-inner" [style]="{ 'border': 'solid 6px #A0E0FF'}"></div>
      <div class="pedestal-outer"></div>
      <div class="pedestal-grab rotate-grab">
<!--床回転アイコン-->
        <div class="pedestal-grab-border">
          <div class="material-icons of-front">autorenew</div>
          <div class="material-icons of-back">autorenew</div>
        </div>
      </div>
      <div class="upright-transform is-fit-width is-3d">
<!--　-->
        <div class="rotate-frame is-3d" [style.width.px]="size * gridSize" [style.height.px]="size * gridSize"
          appRotable [(rotable.value)]="roll" (rotable.ondragstart)="onMove()" (rotable.ondragend)="onMoved()">


          <div class="rotate-inner is-3d">
<!-- バフ表示-->
        <div *ngIf="this.gameCharacter.buffDataElement" >

          <ng-container *ngIf="this.gameCharacter.buffDataElement.children.length == 1">
            <ng-container *ngFor="let child of this.gameCharacter.buffDataElement.children">
              <ng-container *ngIf="child.children.length > 0">
               
                <div style="" *ngIf="this.gameCharacter.buffDataElement" class="buff-tag is-nowrap is-buff-background is-3d" 
                 [ngStyle]="{'transform': 'translateX(-50%) translateX(' + size * gridSize / 2 +'px) translateY(-100%)'}">
                
                  <div class="table">
                    <div class="flex-item" *ngFor="let childElement of this.gameCharacter.buffDataElement.children">
                      <div class="table-row" game-data-element-buff [gameDataElement]="childElement" [isEdit]="isEdit" [isPieceMode]="true"></div>
                    </div>
                  </div>
                 </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
           

<!--名前表示-->
 
            <ng-container *ngIf="this.gameCharacter.nonTalkFlag">
              <div *ngIf="0 < name.length" class="name-tag is-nowrap is-black-background is-3d"
                [ngStyle]="{'transform': 'translateX(-50%) translateX(' + size * gridSize / 2 +'px)'
                ,'background-color': 'rgba(255,255,255, 0.6)' , 'color' : '#333' ,  'border': 'solid 1px #555' }">
                <div class="fornt-tag has-length-limit is-3d" >{{name}}</div>
                <div class="back-tag has-length-limit is-3d" >{{name}}</div>
              </div>
            </ng-container>

            <ng-container *ngIf="!this.gameCharacter.nonTalkFlag">
              <div *ngIf="0 < name.length" class="name-tag is-nowrap is-black-background is-3d"
                [ngStyle]="{'transform': 'translateX(-50%) translateX(' + size * gridSize / 2 +'px)'}">
                <div class="fornt-tag has-length-limit is-3d">{{name}}</div>
                <div class="back-tag has-length-limit is-3d">{{name}}</div>
              </div>
            </ng-container>

            <img class="image" *ngIf="0 < imageFile.url.length" [src]="imageFile.url | safe: 'resourceUrl'">

<!--回転部キャラ上-->
            <div class="grab-group">
              <div class="rotate-grab rotate-grab-icon of-top"
                [ngStyle]="{'transform': 'translateX(-50%) translateX(' + size * gridSize / 2 +'px)'}">
                <i class="material-icons">autorenew</i>
              </div>
              <div class="rotate-grab rotate-grab-icon of-bottom"
                [ngStyle]="{'transform': 'translateX(-50%) translateX(' + size * gridSize / 2 +'px'}">
                <i class="material-icons">autorenew</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>