.image {
  padding: 0px;
  width: 128px;
  height: 128px;
  display: table-cell;
  vertical-align: top;
}

.image img{
  width: auto;
  height: auto;
  max-width:100%;
  max-height:100%;
  vertical-align: bottom;
}

.cover {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.id-input {
  font-weight: bold;
  width: 4.6em;
  text-align: center;
  background-color: transparent;
  border-color: transparent;
  border-radius: 3px;
  border-style: solid;
  font-size: larger;
  font-weight: bold;
}

.id-input:active, .id-input:hover {
  border-color: #444;
}

.copied {
  font-size: smaller;
  opacity: 0;
}