.image {
  padding: 0px;
  width: 64px;
  height: 64px;
  display: table-cell;
  vertical-align: top;
  border-radius: 0.6rem;
}

.image img{
  width: auto;
  height: auto;
  max-width:100%;
  max-height:100%;
  vertical-align: bottom;
}

.cover {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.id-input-container {
  display: inline-block;
  position: relative;
}

.id-spacer  {
  visibility: hidden;
  display: inline-block;
  pointer-events: none;
  padding: 0 3px;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  font-family: Cambria, Georgia;
  font-size: larger;
  font-weight: bolder;
}

.id-input {
  top: 0;
  left: -4px;
  width: 100%;
  position: absolute;
  background: none;
  border: none;
  border-radius: 2px;
  outline: none;
  color: #444;
  font-family: Cambria, Georgia;
  font-size: larger;
  padding: 2px;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  font-weight: bolder;
}

.room-data {
  font-size: medium;
}

.masked-password {
  font-weight: bolder;
  color: #444;
  font-family: Cambria, Georgia;
  user-select: none;
  display: inline-block;
}

.id-input:active, .id-input:hover {
  border-color: #444;
}

.copied {
  font-size: smaller;
  opacity: 0;
  white-space: nowrap;
}

.health {
  font-size: 14px;
  font-weight: normal;
}
.health-blue {
  color: blue;
  filter: drop-shadow(0px 0px 2px skyblue);
}

.health-green {
  color: green;
  filter: drop-shadow(0px 0px 1px greenyellow);
}

.health-yellow {
  color: rgb(117, 117, 50);
  filter: drop-shadow(0px 0px 1px yellow);
}

.health-red {
  color: darkred;
  filter: drop-shadow(0px 0px 2px red);
}

.red-eye {
  color: darkred;
  text-shadow: 0px 0px 2px crimson,
  0px 0px 4px white;
  font-weight: bolder;
}

.mini-icon {
  display: inline-block;
  padding: 0px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  border-radius: 0.2rem;
  margin-right: 2px;
}

.is-gm-mode::after {
  content: '【GM】';
  color: red;
}

.i-am-gm {
  color: red;
  text-shadow    : 
  1px  1px 0px #eee,
-1px  1px 0px #eee,
  1px -1px 0px #eee,
-1px -1px 0px #eee,
  1px  0px 0px #eee,
  0px  1px 0px #eee,
-1px  0px 0px #eee,
  0px -1px 0px #eee,
  0px 0px 2px crimson; 
}