.user {
  display: table;
}

.user_icon {
  display: table-cell;
  vertical-align: top;
  width: 160px;
}

.user_info {
  display: table-cell;
  vertical-align: bottom;
}


.image {
  padding: 0px;
  width: 128px;
  height: 128px;
  display: table-cell;
  vertical-align: top;
}

.image img{
  width: auto;
  height: auto;
  max-width:100%;
  max-height:100%;
  vertical-align: bottom;
}

.cover {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}