.image {
  padding: 0px;
  width: 128px;
  height: 128px;
  display: table-cell;
  vertical-align: top;
}

.image img{
  width: auto;
  height: auto;
  max-width:100%;
  max-height:100%;
  vertical-align: bottom;
}

.cover {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.id-spacer  {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  height: 0;
  padding: 0 3px;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  font-family: Cambria, Georgia;
  font-size: larger;
  font-weight: bolder;
}

.id-input {
  width: 100%;
  background: none;
  border: none;
  border-radius: 2px;
  outline: none;
  color: #444;
  font-family: Cambria, Georgia;
  font-size: larger;
  padding: 2px;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  font-weight: bolder;
}

.id-input:active, .id-input:hover {
  border-color: #444;
}

.copied {
  font-size: smaller;
  opacity: 0;
}