.edit-info {
  width: 100%;
  text-align: center;
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.8);
}
.palette {
/*.input {*/
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Verdana, Meiryo, sans-serif;
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.dice-table {
/*.input {*/
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Verdana, Meiryo, sans-serif;
  width: 100%;
  height: 15em;
}

.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;

  -webkit-flex-flow: row wrap; /* Safari */
  flex-flow:  row wrap;

  -webkit-justify-content: flex-start; /* Safari */
  justify-content: flex-start;

  -webkit-align-items: stretch; /* Safari */
  align-items: stretch;

}
.flex-item {
  margin: 5px;
  -webkit-flex: 1 0 auto; /* Safari */
  flex: 1 0 auto;
  box-sizing: border-box;
  -webkit-flex-grow: 1; /* Safari */
  flex-grow: 1;
  max-width: 100%;
}

.no-grow{
  -webkit-flex-grow: 0; /* Safari */
  flex-grow: 0;
}

.images-select {
  display: flex;
}
