<!--<h2>チャットシステム</h2>-->
<div class="component">
<div class="log">
  <chat-tab *ngIf="chatTab" [chatTab]="chatTab" (onAddMessage)="scrollToBottom()"></chat-tab>
  <div *ngIf="!chatTab">※チャットタブの内容が更新されました。チャットタブを選択しなおすか、このチャットウィンドウを開きなおしてください。</div>
</div>
<div class="sticky-bottom">
  <form>
    <div class="chat-tab">
      <label *ngFor="let chatTab of chatMessageService.chatTabs; trackBy: trackByChatTab">
        <input name="chat-tab" type="radio" value="{{chatTab.identifier}}" ng-control="options" [(ngModel)]="chatTabidentifier">
        <div>{{chatTab.name}}<badge *ngIf="chatTab.hasUnread" class="badge" [count]="chatTab.unreadLength"></badge></div>
      </label>
      <button class="tab-setting small-font" (click)="showTabSetting()"><i class="material-icons small-font">settings</i>タブ設定</button>
    </div>
  </form>
<div class="table" [ngClass]="{'direct-message': isDirect}">
  <div class="table-cell imagebox">
    <div *ngIf="isUseFaceIcon && gameCharacter && gameCharacter.faceIcon != null && 0 < gameCharacter.faceIcon?.url?.length; else noFaceIcon" class="imagebox">
      <img #characterImage class="image" [src]="gameCharacter.faceIcon?.url | safe: 'resourceUrl'" />
    </div>
    <ng-template #noFaceIcon>
      <div *ngIf="gameCharacter && gameCharacter.imageFile != null && 0 < gameCharacter.imageFile?.url?.length" class="inverser" [ngClass]="{inverse: gameCharacter.isInverse, hollow: gameCharacter.isHollow}">
        <span class="aura imagebox" [ngClass]="{black: gameCharacter.aura == 0, blue: gameCharacter.aura == 1, green: gameCharacter.aura == 2, cyan: gameCharacter.aura == 3, red: gameCharacter.aura == 4, magenta: gameCharacter.aura == 5, yellow: gameCharacter.aura == 6, white: gameCharacter.aura == 7}">
          <img #characterImage class="image" [src]="gameCharacter.imageFile?.url | safe: 'resourceUrl'" [ngClass]="{'black-paint': gameCharacter.isBlackPaint}" />
        </span>
      </div>
      <img class="image" *ngIf="!gameCharacter && myPeer && myPeer?.image != null" [src]="myPeer?.image?.url | safe: 'resourceUrl'" />
    </ng-template>
  </div>
  <div class="table-cell">
    <div>
      <label style="margin-right: 4px"><input type="checkbox" [(ngModel)]="isUseFaceIcon" checked="{{isUseFaceIcon ? 'checked' : ''}}" (change)="isUseFaceIcon = (isUseFaceIcon ? true : false)" />顔IC</label>
      <select style="width: 12em;" (change)="onSelectedCharacter($event.target.value)" [style.color]="gameCharacter && gameCharacter.chatPalette && gameCharacter.chatPalette.color && gameCharacter.chatPalette.color != '#ffffff' ? gameCharacter.chatPalette.color : color">
        <option value="{{myPeer?.identifier}}" [style.color]="myColor">{{myPeer?.name}}（あなた）</option>
        <option *ngFor="let gameCharacter of gameCharacters" value="{{gameCharacter.identifier}}" [style.color]="gameCharacter.chatPalette && gameCharacter.chatPalette.color && gameCharacter.chatPalette.color != '#ffffff' ? gameCharacter.chatPalette.color : ''">{{gameCharacter.name}}</option>
      </select> ➡
      <select style="width: 10em;" [(ngModel)]="sendTo">
        <option value="">全員</option>
        <option *ngFor="let peer of otherPeers" value="{{peer.identifier}}">{{peer.name}}<ng-container *ngIf="peer === myPeer">（あなた）</ng-container></option>
      </select>
      <select *ngIf="diceBotInfosIndexed.length < 1" style="width: 13em;" (change)="onChangeGameType($event.target.value)" [(ngModel)]="gameType" [ngModelOptions]="{standalone: true}"
        [ngClass]="{'not-specified': gameType == ''}">
        <option value="" class="not-specified">ダイスボット指定なし</option>
        <option *ngFor="let diceBotInfo of diceBotInfos" value="{{diceBotInfo.script}}">{{diceBotInfo.game}}</option>
      </select>
      <select *ngIf="diceBotInfosIndexed.length > 0" style="width: 13em;" (change)="onChangeGameType($event.target.value)" [(ngModel)]="gameType" [ngModelOptions]="{standalone: true}"
        [ngClass]="{'not-specified': gameType == ''}">
        <option value="" class="not-specified">ダイスボット指定なし</option>
        <optgroup *ngFor="let group of diceBotInfosIndexed" class="dice-bot-group" label="{{group.index}}">
          <option *ngFor="let diceBotInfo of group.infos" value="{{diceBotInfo.script}}">{{diceBotInfo.game}}</option>
        </optgroup>
      </select>
      <button (click)="showDicebotHelp()">?</button>
    </div>
    <div>
      <form #chatWindowForm="ngForm">
        <!-- <input type="color" *ngIf="!(gameCharacter &&  gameCharacter.chatPalette && gameCharacter.chatPalette.paletteColor && gameCharacter.chatPalette.paletteColor != '#ffffff')" style="width:1em" [(ngModel)]="color" [ngModelOptions]="{standalone: true}"> -->
        <textarea #textArea [(ngModel)]="text" placeholder="Enterで送信  Shift+Enterで改行  チャットパレットの色が優先" [ngModelOptions]="{standalone: true}" class="chat-input" (input)="onInput()" (keydown.enter)="sendChat($event)"></textarea>
        <button type="submit" (click)="sendChat(null)">SEND</button>
      </form>
    </div>
    <div class="writing-info">
      <ng-container *ngIf="0 < writingPeerNames.length" >
        <span *ngFor="let peerName of writingPeerNames; index as i" style="font-weight: bold;">{{peerName}}<span *ngIf="writingPeerNames.length !== (i + 1)">, </span></span>
        <span> が入力中...</span>
      </ng-container>
    </div>
  </div>
</div>
</div>
<!--<div style="white-space:pre-wrap; font-size: 8px;"><span>{{gameHelp}}</span></div>-->