.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  
  -webkit-flex-flow: row wrap; /* Safari */
  flex-flow:  row wrap;
  
  -webkit-justify-content: flex-start; /* Safari */
  justify-content: flex-start;
  
  -webkit-align-items: stretch; /* Safari */
  align-items: stretch;
}

.flex-item {
  margin: 5px;
  -webkit-flex: 1 0 auto; /* Safari */
  flex: 1 0 auto;
  box-sizing: border-box;
  -webkit-flex-grow: 1; /* Safari */
  flex-grow: 1;
  max-width: 100%;
}

.no-grow{
  -webkit-flex-grow: 0; /* Safari */
  flex-grow: 0;
}

.is-hidden {
  visibility: hidden;
}
  
.header {
  margin-top: 3px;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.9em;
}
  
.red-eye {
    color: darkred;
    text-shadow: 0px 0px 2px crimson,
    0px 0px 4px white;
    font-weight: bolder;
  }
  
.grow {
  text-shadow    : 
        1px  1px 0px #ffffff,
      -1px  1px 0px #ffffff,
        1px -1px 0px #ffffff,
      -1px -1px 0px #ffffff,
        1px  0px 0px #ffffff,
        0px  1px 0px #ffffff,
      -1px  0px 0px #ffffff,
        0px -1px 0px #ffffff; 
}

.blackout {
  filter: blur(12px) grayscale(70%);
}

.self-only {
  color: red;
}

img {
  transition: all 100ms 0s ease;
}

.self-setting {
  font-weight: bolder;
  font-size: smaller;
}

input[type='number'] {
  text-align: right;
}

.direct-message {
  background-color: #555;
  color: #CCC;
}

.not-specified {
  color: gray;
}

.self-only {
  color: red;
  vertical-align: text-top;
}

.section {
  margin-top: 0.4em;
}