<div style="width: 100%">
  <div style="font-size: smaller">
    <b>name:</b><input type="text" style="width: 12em" [(ngModel)]="diceRollTable.name">
    <b style="margin-left: 1em;">dice:</b><input type="text" style="width: 4em" [(ngModel)]="diceRollTable.dice">
    <b style="margin-left: 1em;">command:</b><input type="text" style="width: 5em" [(ngModel)]="diceRollTable.command">
    <button class="remove-button" style="float: right">×</button>
  </div>
  <div style="width: 100%"><div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: smaller">{{ diceRollTable.table }}</div></div>
  <div><textarea style="width: 100%;" [(ngModel)]="diceRollTable.table"></textarea></div>
</div>