<div class="background-image is-pointer-events-none" [ngClass]="[(backgroundFilterType ? 'is-filter' : ''), (isStealthMode && !isGMMode ? 'is-hide-in' : ''), backgroundFilterType]"
[style.background-image]="'url(' + backgroundImage.url + ')' | safe: 'style'"></div>
<div class="component is-fill is-perspective" [ngClass]="{'is-grabbing': isPointerDragging}" #root>
  <div class="component-content is-fill is-3d" #gameTable>
    <div id="app-game-table" class="game-table table-image is-3d" [style.background-image]="'url(' + tableImage.url + ')' | safe: 'style'" #gameObjects>
      <canvas class="grid-canvas is-fill is-pointer-events-none" #gridCanvas [ngStyle]="{'transform': 'translateZ(' + (gridHeight + 0.1) + 'px)'}"></canvas>
      <div class="is-fill is-3d is-pointer-events-none">
        <ng-container *ngFor="let terrain of terrains; trackBy: trackByGameObject">
          <ng-container *ngIf="terrain.detailDataElement && 0 < terrain.detailDataElement.children.length"><terrain class="is-3d" [style.z-index]="terrain.height > 0 ? 0 : 1" [terrain]="terrain" [appTooltip]="terrain"></terrain></ng-container>
          <ng-container *ngIf="!terrain.detailDataElement || terrain.detailDataElement.children.length <= 0"><terrain class="is-3d" [style.z-index]="terrain.height > 0 ? 0 : 1" [terrain]="terrain"></terrain></ng-container>
        </ng-container>
      </div>
      <ng-container *ngFor="let mask of tableMasks; trackBy: trackByGameObject">
        <ng-container *ngIf="mask.detailDataElement && 0 < mask.detailDataElement.children.length"><game-table-mask class="is-3d" [gameTableMask]="mask" [appTooltip]="mask"></game-table-mask></ng-container>
        <ng-container *ngIf="!mask.detailDataElement || mask.detailDataElement.children.length <= 0"><game-table-mask class="is-3d" [gameTableMask]="mask"></game-table-mask></ng-container>
      </ng-container>
      <text-note class="is-3d" *ngFor="let textNote of textNotes; trackBy: trackByGameObject" [textNote]="textNote" [appTooltip]="textNote" [ngStyle]="{'z-index' : textNote.zindex}"></text-note>
      <card-stack class="is-3d" *ngFor="let cardStack of cardStacks; trackBy: trackByGameObject" [cardStack]="cardStack" [appTooltip]="cardStack" [ngStyle]="{'z-index' : cardStack.zindex, 'transform': 'translateZ(' + (cardStack.zindex * 0.001) +'px)'}"></card-stack>
      <card class="is-3d" *ngFor="let card of cards; trackBy: trackByGameObject" [card]="card" [appTooltip]="card" [ngStyle]="{'z-index' : card.zindex, 'transform': 'translateZ(' + (card.zindex * 0.001) +'px)'}"></card>
      <range class="is-3d" *ngFor="let range of ranges; trackBy: trackByGameObject" [range]="range" [appTooltip]="range"></range>
      <dice-symbol class="is-3d" *ngFor="let diceSymbol of diceSymbols; trackBy: trackByGameObject" [diceSymbol]="diceSymbol" [appTooltip]="diceSymbol"></dice-symbol>
      <ng-container *ngFor="let character of characters; trackBy: trackByGameObject"><ng-container *ngIf="character && (character.isVisible || isGMMode)"><game-character class="is-3d" [style.display]="character.isLoaded ? '' : 'none'" [gameCharacter]="character" [appTooltip]="character"></game-character></ng-container></ng-container>
      <peer-cursor *ngFor="let cursor of peerCursors; trackBy: trackByGameObject" class="is-3d" [cursor]="cursor" [style.display]="isCursorHidIn(cursor) && !isGMMode ? 'none' : ''"></peer-cursor>
    </div>
  </div>
</div>
