.stand-image-container {
    position: absolute;
    display: inline-block;
    bottom: -1%;
    z-index: 1000000;
    margin-left: -50px;
    transition: opacity 0.1s ease-in;
}

.is-ghostly {
    opacity: 0.4;
}
.backyard {
  pointer-events: none;
  z-index: 0;
}

.name-tag {
  color: #444;
  background-color: whitesmoke;
  border: 2px solid #444;
  border-radius: 24px;
  padding: 4px 12px;
  bottom: 2px;
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  font-size: 14px;
  opacity: 0.9;
  margin-left: -63px;
  z-index: 1000005;
}
.name-tag.is-ghostly {
  opacity: 0.4;
}
.name-tag.backyard {
  z-index: 1;
}

.is-ghostly.backyard {
  opacity: 0.25;
}

.inverse {
    transform: scaleX(-1);
  }
  .inverser {
    transition: transform 132ms 0s ease;
  }
  .hollow {
    opacity: 0.6;
    filter: blur(1px);
  }
  .black-paint {
    filter: brightness(0);
  }
  
  .aura {
    transition: filter 0.2s ease-in-out;
  }
  
  .aura.black {
    filter: drop-shadow(0 -8px 8px black);
  }
  .aura.blue {
    filter: drop-shadow(0 -8px 8px #33f);
  }
  .aura.green {
    filter: drop-shadow(0 -8px 8px #3f3);
  }
  .aura.cyan {
    filter: drop-shadow(0 -8px 8px #3ff);
  }
  .aura.red {
    filter: drop-shadow(0 -8px 8px #f00);
  }
  .aura.magenta {
    filter: drop-shadow(0 -8px 8px #f0f);
  }
  .aura.yellow {
    filter: drop-shadow(0 -8px 8px #ff3);
  }
  .aura.white {
    filter: drop-shadow(0 -8px 8px #fff);
  }