.stand-image-container {
    position: absolute;
    display: inline-block;
    bottom: -1%;
    z-index: 1000000;
    margin-left: -50px;
    transition: opacity 0.1s ease-in;
}

.is-ghostly {
    opacity: 0.5;
    z-index: 900000;
}
.backyard {
  pointer-events: none;
  z-index: 0;
}

.name-tag {
  color: #444;
  background-color: whitesmoke;
  border: 2px solid #444;
  border-radius: 24px 24px 24px 24px;
  padding: 4px 12px;
  bottom: 2px;
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  font-size: 16px;
  opacity: 0.9;
  margin-left: -37px;
  z-index: 1000005;
}
.name-tag.is-ghostly {
  opacity: 0.5;
  z-index: 900005;
}
.name-tag.backyard {
  z-index: 1;
}

.is-ghostly.backyard {
  opacity: 0.25;
}

.secret .color-fillter {
  filter: grayscale(80%);
}

.name-tag.dialog {
  border-radius: 24px 24px 24px 12px;
}
.name-tag.dialog-secret {
  border-radius: 24px 12px 24px 12px;
  background: rgba(85, 85, 85, 0.9);
}

.emote {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  border: none;
  background: none;
  -webkit-text-stroke: 2px whitesmoke;
}

.emote.emote-secret {
  -webkit-text-stroke: 2px #555;
}
.emote.emote-secret.is-ghostly {
  z-index: 900005;
}
/* なぜかz-indexの上書きがいる */
.emote {
  z-index: 1000005;
}
.emote.is-ghostly {
  z-index: 900005;
}

.dialog:after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  margin: 0px;
  padding: 0px;
  line-height: 1;
	vertical-align: baseline;
  left: 16px;
  margin-left: -12px;
  bottom: -24px;
  border: 12px solid transparent;
  border-top-color: inherit;
}

@supports (-moz-user-select: -moz-none) {
  /* 汚いけどとりあえず */
  .dialog:after {
    bottom: -39px !important;
  }
}
/* 吹き出しの横向きベロがカッコよくならないのでとりあえずコメントアウト
.dialog:after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  margin: 0px;
  padding: 0px;
  line-height: 1;
	vertical-align: baseline;
  left: -10px;
  margin-left: -10px;
  margin-top: -14px;
  border: 10px solid transparent;
  border-right-color: inherit;
}
*/
/*
.dialog-secret:before {
  position: absolute;
  border: none;
  color: #555;
  text-shadow: 0px 0px 2px #ccc;
  content: '。〇';
  margin-left: -36px;
  margin-top: 8%;
  font-weight: bold;
  font-size: 16px;
}
*/

.chat-bubble-buyo {
  transform-origin: 12px calc(100% + 12px);
  transition: transform .2s ease;
  animation: chat-bubble-buyo 1.2s ease-in-out 0.1s infinite alternate;
  transform: scale3d(0.9, 0.9, 0.9);
}
.chat-bubble-buyo.emote {
  animation-duration: .6s;
  transform-origin: center bottom;
}

@keyframes chat-bubble-buyo {
  0% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.inverse {
    transform: scaleX(-1);
  }
  .inverser {
    transition: transform 132ms 0s ease;
  }
  .hollow {
    opacity: 0.6;
    filter: blur(1px);
  }
  .black-paint {
    filter: brightness(0);
  }
  
  .aura {
    transition: filter 0.2s ease-in-out;
  }
  
  .aura.black {
    filter: drop-shadow(0 -8px 8px black);
  }
  .aura.blue {
    filter: drop-shadow(0 -8px 8px #33f);
  }
  .aura.green {
    filter: drop-shadow(0 -8px 8px #3f3);
  }
  .aura.cyan {
    filter: drop-shadow(0 -8px 8px #3ff);
  }
  .aura.red {
    filter: drop-shadow(0 -8px 8px #f00);
  }
  .aura.magenta {
    filter: drop-shadow(0 -8px 8px #f0f);
  }
  .aura.yellow {
    filter: drop-shadow(0 -8px 8px #ff3);
  }
  .aura.white {
    filter: drop-shadow(0 -8px 8px #fff);
  }