<div class="flex-container" #root>
  <div style="flex-grow: 0;">
    <form>
      <div class="chat-tab">
        <label *ngFor="let chatTab of chatMessageService.chatTabs">
          <input name="chat-tab" type="radio" value="{{chatTab.identifier}}" ng-control="options" [(ngModel)]="chatTabidentifier">
          <div>{{chatTab.name}}<badge *ngIf="chatTab.hasUnread" class="badge" [count]="chatTab.unreadLength"></badge></div>
        </label>
      </div>
    </form><!---->
    <chat-input class="is-caret" 
    [onlyCharacters]="true" 
    [chatTabidentifier]="chatTabidentifier"
    [(gameType)]="gameType"
    [(sendFrom)]="sendFrom"
    [autoCompleteIndex]="completeIndex()"
    [(text)]="text"
    (chat)="sendChat($event)" 
    (autoCompleteSwitch)="autoCompleteSwitchRelative($event)" 
    (autoCompleteDo)="autoCompleteDoRelative($event)"
    (tabSwitch)="chatTabSwitchRelative($event)" #chatInput></chat-input>
    <div style="position:absolute;margin-top:-2em;">
      <button class="tab-setting small-font" (click)="indexBtn()">＜<i class="material-icons small-font">bookmarks</i></button>
    </div>
    <div *ngIf="isEdit" class="edit-info"><i class="material-icons" style="vertical-align: bottom; size:0.8rem;">info_outline</i> チャットパレット編集中です</div>
    <div class="complete-box">
      <ng-container *ngIf="(autoCompleteList().length == 1 && autoCompleteList()[0] != text) || autoCompleteList().length > 1">
        <select class="complete" id="{{_timeId}}_complete"  style="overflow-y: auto;" size="5" (input)="selectAutoComplete(text,$event.target.value)">
          <option *ngFor="let palette of autoCompleteList()" value="{{palette}}">{{palette}}</option>
        </select>
      </ng-container>
    </div>
  </div>
  <div [hidden]="isEdit" style="flex-grow: 1; height: 0; min-height: 100px;">
    <select class="palette" id="{{_timeId}}_select"  style="overflow-y: auto;" size="5" (input)="selectPalette($event.target.value)" (click)="clickPalette($event.target.value)" (focusout)="resizeChatInput()" #chatPalette>
      <ng-container *ngIf="palette">
        <option *ngFor="let palette of palette.getPalette()" value="{{palette}}">{{palette}}</option>
      </ng-container>
    </select>
  </div>
  <div [hidden]="!isEdit" style="flex-grow: 1; height: 0; min-height: 100px;">
    <textarea class="palette is-caret" id="{{_timeId}}_text" style="resize: none;" [(ngModel)]="editPalette" placeholder="チャットパレット"></textarea>
  </div>
  <div style="flex-grow: 0;">
    <button type="submit" (click)="toggleEditMode()">
      <span *ngIf="!isEdit">チャットパレットの編集</span>
      <span *ngIf="isEdit">チャットパレットを確定</span>
    </button>
    <button type="submit" (click)="moveTest()">
    </button>
  </div>
</div>
