:host {
  display: block;
  height: 100%;
}

.edit-info {
  width: 100%;
  text-align: center;
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.8);
}
.palette {
/*.input {*/
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Verdana, Meiryo, sans-serif;
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-tab {
  padding : 0 5px 5px 5px;
  user-select: none;
}

.chat-tab label {
  display: inline-block;
  position: relative;
}

.chat-tab input[type="radio"] {
  display: none;
}

.chat-tab input[type="radio"] + div {
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  font-size: 8px;
  background-color: transparent;
  color: #444; 
  border: solid 1px #555;
  padding: 2px 8px;
  margin: 2px;
  border-radius: 100px;
  cursor: pointer;
}

.chat-tab input[type="radio"] + div:hover {
  background-color: #888;
  color: #eee;
  border: solid 1px #555;
}

.chat-tab input[type="radio"]:checked + div {
  background: #555;
  color: #CCC;
}

.badge {
  position: absolute;
  top: -4px;
  right: 0;
}

.material-icons {
  vertical-align: middle;
  font-size: 1.0rem;
}

.complete-box {
  position: relative;
  width:100%;
  height:0px; 
}

.complete {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Verdana, Meiryo, sans-serif;
  width: calc(100% - 155px);
  resize: none;
  position: absolute;
  top:-20px;
  left:60px; 
  min-width: 220px;
  z-index: 10;
  opacity: 0.8;
}

/*
  overflow: auto;
  padding: 1px;
  margin: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-word;
  vertical-align: bottom;
*/

/*2022/1/16現在、クロームバージョン: 97.0.4692.71（Official Build） （64 ビット）
キャレットの点滅で負荷がかかることへの対策不透明度指定*/
.is-caret {
  caret-color: rgba(0,0,0,0.95);
}
