.imagebox {
  display: inline-block;
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  vertical-align: top;
  text-align: center;
}
.image{
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
  object-position: 50% 0%;
}
.inverse {
  transform: scaleX(-1);
}
/*
.inverser {
  transition: transform 100ms 0s ease;
}
*/
.hollow {
  opacity: 0.6;
  filter: blur(1px);
}
.black-paint {
  filter: brightness(0);
}

.aura.black {
  filter: drop-shadow(0 -4px 4px black);
}
.aura.blue {
  filter: drop-shadow(0 -4px 4px #00f);
}
.aura.green {
  filter: drop-shadow(0 -4px 4px #3f3);
}
.aura.cyan {
  filter: drop-shadow(0 -4px 4px #3ff);
}
.aura.red {
  filter: drop-shadow(0 -4px 4px #f00);
}
.aura.magenta {
  filter: drop-shadow(0 -4px 4px #f0f);
}
.aura.yellow {
  filter: drop-shadow(0 -4px 4px #ff3);
}
.aura.white {
  filter: drop-shadow(0 -4px 6px #ccc) drop-shadow(0 -4px 4px #fff);
}

.table {
  box-sizing: border-box;
  padding : 5px;
  display: table;
  width: 100%;
}
.table .table-cell {
  display: table-cell;
}
.edit-info {
  width: 100%;
  text-align: center;
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.8);
}
.palette {
/*.input {*/
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Verdana, Meiryo, sans-serif;
  width: 100%;
  height: 100%;
}
.direct-message {
  background-color: #555;
  color: #CCC;
}
.chat-input {
  font-family: Arial;
  font-size: 13px;

  width: calc(100% - 100px);
  height: calc(1em + 4px);
  min-height: calc(1em + 7px);
  max-height: calc(6em + 7px);
  resize: none;
  overflow: auto;

  padding: 1px;
  margin: 5px;

  word-break: break-all;
  vertical-align: bottom;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-tab {
  padding : 0 5px 5px 5px;
  user-select: none;
}

.chat-tab label {
  display: inline-block;
  position: relative;
}

.chat-tab input[type="radio"] {
  display: none;
}

.chat-tab input[type="radio"] + div {
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  font-size: 8px;
  background-color: transparent;
  color: #444; 
  border: solid 1px #555;
  padding: 2px 8px;
  margin: 2px;
  border-radius: 100px;
  cursor: pointer;
}

.chat-tab input[type="radio"] + div:hover {
  background-color: #888;
  color: #eee;
  border: solid 1px #555;
}

.chat-tab input[type="radio"]:checked + div {
  background: #555;
  color: #CCC;
}

.badge {
  position: absolute;
  top: -4px;
  right: 0;
}

.not-specified {
  color: gray;
}

.dice-bot-group {
  color: whitesmoke;
  background-color: #555;
}

option {
  color: black;
  background-color: whitesmoke;
}