.table {
  box-sizing: border-box;
  padding : 5px;
  /*position : fixed;*/
  /*bottom : 0;*/
  display: table;
  /*width: calc(100% - 30px);*/
  width: 100%;
}

.table .table-cell {
  display: table-cell;
}

input{
  width:5em;
}
