.position-indicate {
  display: inline-block;
  font-size: smaller;
}
.description {
  font-size: smaller;
}

.remove-button {
  display: inline-block;
  font-weight: bolder;
  font-size: smaller;
  margin-top: -4px;
  margin-right: -1px;
}

.overview-selecter {
  border: 2px solid red;
  border-radius: 8px;
  padding-top: 1px;
  padding-bottom: 4px;
}

input[type='radio'] {
  width: 1.5em;
  height: 1.5em;
}