<div class="table" [ngClass]="{ 'direct-message': isDirect }" >
  <div class="table-cell imagebox">
    <img *ngIf="0 < imageFile.url.length" class="image" [src]="imageFile.url | safe: 'resourceUrl'" />
  </div>   
  <div class="table-cell">
    <div>
      <select style="width: 12em;" [(ngModel)]="sendFrom">
        <option *ngIf="!onlyCharacters" value="{{myPeer?.identifier}}">{{myPeer?.name}}（あなた）</option>
        <option *ngFor="let gameCharacter of gameCharacters" value="{{gameCharacter.identifier}}">{{gameCharacter.name}}
        </option>
      </select> 
    </div>
<!-- 立ち絵ここから-->
    <div >
      <div class="tachie-tag table-cell">
        <ng-container *ngIf="1 >= selectCharacterTachieNum">
          <input type="range" [style]="'font-size: 0.8em; min-width: 1em; width:' + (10) + 'em; --min: 0; --max: ' + 0 + '; --val:' + 10 +';' | safe: 'style'"
          min="0" max="0" [(ngModel)]="tachieNum" />
           0/0 立ち絵

        </ng-container>
        <ng-container *ngIf="1 < selectCharacterTachieNum">
          <input type="range" [style]="'font-size: 0.8em; min-width: 1em; width:' + (10) + 'em; --min: 0; --max: ' + 0 + '; --val:' + 10 +';' | safe: 'style'"
          min="0" max="{{selectCharacterTachieNum -1}}" [(ngModel)]="tachieNum" />
         {{tachieNum}}/{{selectCharacterTachieNum - 1}} 立ち絵
            <ng-container *ngIf="selectCharacterTachie.currentValue.length > 0"> 
              {{selectCharacterTachie.currentValue}}
            </ng-container>
            <ng-container *ngIf="selectCharacterTachie.currentValue.length <= 0"> 
            </ng-container>

        </ng-container>

      </div>
    </div>
<!-- ここまで-->
  </div>
</div>

<hr>
<div style="width:100%;">バフ/デバッファー
  <div style="float:right;text-align:right;">隠す
        <input name="buff_hide_chk" type="checkbox" 
        (change) ="buffHideChkChange($event.target.checked)" >
  </div>
    <form>
      <div  [hidden] = "buffHideIsChk">
        <textarea class="controller-input" placeholder="Enterで送信" [(ngModel)]="text"
          [ngModelOptions]="{standalone: true}" (input)="onInput()" (keydown.enter)="sendChat($event)"
            #textArea></textarea>
        <button type="submit" (click)="sendChat(null)">実行</button>
      </div>
    </form>
<div>
  
</div>
