<div class="table sticky-top-left" >
    <div class="flex-container">
      <div style="flex-grow: 0;">
        <form>
         <div class="chat-tab">
           <label *ngFor="let chatTab of chatMessageService.chatTabs">
             <input name="chat-tab" type="radio" value="{{chatTab.identifier}}" ng-control="options" [(ngModel)]="chatTabidentifier">
             <div>{{chatTab.name}}</div>
           </label>
         </div>
        </form>

        <controller-input [onlyCharacters]="true" [chatTabidentifier]="chatTabidentifier" 
        [(gameType)]="gameType" [(sendFrom)]="sendFrom" [(text)]="text" (chat)="sendChat($event)" 
        (hideChkEvent)="hideChkBoxEvent($event)"
        #controllerInput>
        </controller-input>

        <ng-container *ngIf="! buffAreaIsHide ">
          <div *ngIf="errorMessageBuff.length > 0" >{{errorMessageBuff}}
          </div>
          <div *ngIf="isEdit" class="edit-info"><i class="material-icons" style="vertical-align: bottom; size:0.8rem;">info_outline</i> バフ編集中です</div>

          <div *ngIf="!isEdit" style="flex-grow: 1; height: 0; min-height: 100px;">
            <select class="palette" style="overflow-y: auto;" size="5" (input)="selectPalette($event.target.value)" (click)="clickPalette($event.target.value)" #chatPlette>
  <form>
    <ng-container *ngIf="! buffHideIsChk ">
      <textarea class="controller-input" placeholder="Enterで送信" [(ngModel)]="text"
        [ngModelOptions]="{standalone: true}" (input)="onInput()" (keydown.enter)="sendChat($event)" 
      #textArea></textarea>
      <button type="submit" (click)="sendChat(null)">実行</button>
    </ng-container>
  </form>


            <ng-container *ngIf="palette">
              <option *ngFor="let palette of palette.getPalette()" value="{{palette}}">{{palette}}</option>
            </ng-container>
            </select>
          </div>
          <div *ngIf="isEdit" style="flex-grow: 1; height: 0; min-height: 100px;">
           <textarea class="palette" style="resize: none;" [(ngModel)]="editPalette" placeholder="バフパレット"></textarea>
          </div>
          <div style="flex-grow: 0;">
            <button type="submit" (click)="toggleEditMode()" style="width:20em">
              <span *ngIf="!isEdit">バフパレット編集</span>
              <span *ngIf="isEdit">バフパレット確定</span>
            </button>
            <BR>
            <button type="submit" (click)="remotBuffRoundSelect()" style="width:10em">
            <span>バフR減少/選択</span>
            </button>
            <button type="submit" (click)="remotBuffRoundALL()" style="width:10em">
              <span>バフR減少/全員</span>
            </button>
            <button type="submit" (click)="remotBuffDeleteZeroRoundSelect()" style="width:10em">
              <span>0R以下消去/選択</span>
            </button>
            <button type="submit" (click)="remotBuffDeleteZeroRoundALL()" style="width:10em">
              <span>0R以下消去/全員</span>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <hr>

    <div style="width:100%;">カウンターリモコン
      <div style="float:right;text-align:right;">隠す
        <input name="buff_hide_chk" type="checkbox" 
        (change) ="controllerHideChkChange($event.target.checked)" >
      </div>
    </div>

    <ng-container *ngIf="! controllerAreaIsHide ">
      <div>
        変更量
        <input style="width: 5em;   font-size: 1.2em;" size="1" 
        type="number" [(ngModel)]="this.remotNumber" placeholder="Value" />
        <button type="submit" (click)="remotChangeValue()">
          <span>リモコン操作</span>
        </button>
      </div>
      <div *ngIf="errorMessageController.length > 0">{{errorMessageController}}
      </div>
      <div *ngIf="character.rootDataElement">
        <div class="controller">
          <ng-container *ngFor="let data of character.detailDataElement.children;">
            <ng-container  *ngFor="let dataElm of data.children; ">
              <ng-container *ngIf="dataElm && this.dataTags.includes(dataElm.name)">
                <ng-container [ngSwitch]="dataElm.attributes['type']">
                  <div>
    　　　　　  　<label *ngSwitchCase="'numberResource'">
                  <input name="controller" type="radio" value="{{dataElm.name + '現在値'}}" ng-control="options" (click)="remotSelect(dataElm.name,'currentValue',(dataElm.name + '現在値'))" />
                   <div>{{dataElm.name + '現在値'}}</div>
　                </label>
                  <label *ngSwitchCase="'numberResource'">
                    <input name="controller" type="radio" value="{{dataElm.name + '最大値'}}" ng-control="options" (click)="remotSelect(dataElm.name,'value',(dataElm.name + '最大値'))" />
                    <div>{{dataElm.name + '最大値'}}</div>
                  </label>
　　　　　        <label *ngSwitchDefault>
                    <input name="controller" type="radio" value="{{dataElm.name}}" ng-control="options" (click)="remotSelect(dataElm.name,'value',dataElm.name)" />
                    <div>{{dataElm.name}}</div>
　                </label>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container >
          </ng-container> 
        </div>
      </div>
    </ng-container>
</div>

<div class="controller-right" >
    <div *ngIf="getGameObjects(selectTab).length < 1">{{getTabTitle(selectTab)}}インベントリは空です</div>
    <div 
     *ngFor="let gameObject of getGameObjects(selectTab); trackBy: trackByGameObject"
     [ngClass]="{'box': true, 'selected': 0 }" >
      <ng-container *ngTemplateOutlet="gameObjectTags; context:{ gameObject: gameObject}"></ng-container>
    </div>
</div>

<!-- インベントリ -->
<ng-template #gameObjectTags let-gameObject="gameObject">
  <div class="inventory-object " >

    <div class="object-tags-box">
      <div>
        <input name="tag_chg_chk" type="checkbox" 
        (change) ="charListChange(gameObject.identifier , $event.target.checked)" 
        [checked]="charList.indexOf(gameObject.identifier) > -1" >
        <span class="object-name">{{gameObject.name}}</span>
        <button class="tab-setting small-font" (click)="buffEdit( gameObject )">バフ編集</button>
      </div>
      <div class="table">
        <div class="table-cell image-box">
          <img *ngIf="gameObject.imageFile.url" [src]="gameObject.imageFile.url | safe: 'resourceUrl'" />
        </div>
        <div class="table-cell">
          <div *ngIf="gameObject.rootDataElement">
            <ng-container *ngFor="let dataElm of getInventoryTags(gameObject); trackBy: trackByGameObject">
              <ng-container *ngTemplateOutlet="dataElmTag; context:{ dataElm: dataElm}"></ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #dataElmTag let-dataElm="dataElm">
  <ng-container *ngIf="dataElm?.name === newLineString"><br></ng-container>
  <div *ngIf="dataElm && dataElm.name !== newLineString" class="object-tag">
    <ng-container [ngSwitch]="dataElm.attributes['type']">
      <ng-container *ngSwitchCase="'numberResource'">
        <div class="tag-name">{{dataElm.name}}</div>
        <div style="text-align: center;">
          <div style="display: inline-block;">
            <div class="tag-value-box" >              
              <div class="hidden-spacer" style="font-weight: bold;">&nbsp;&nbsp;{{dataElm.value}}</div>
              <div class="hidden-spacer" style="font-weight: bold;">&nbsp;&nbsp;{{dataElm.currentValue}}</div>
              <div class="table">
                <div class="table-cell tag-slash">
                  <div style="padding: 2px;">&nbsp;</div><div style="padding: 2px;">/</div>
                </div>
                <div class="table-cell">
                  <input class="input tag-value" size="1" [(ngModel)]="dataElm.currentValue" 
                  placeholder="" />
                  <input class="input tag-value" size="1" [(ngModel)]="dataElm.value" 
                  placeholder="" />
                </div>
              </div>
            </div>
          </div>
        </div>

      </ng-container>
      <ng-container *ngSwitchCase="'note'">
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div class="tag-name">{{dataElm.name}}</div>
        <div style="text-align: center;">
          <div style="display: inline-block;">
            <div class="tag-value-box">
              <div class="hidden-spacer" style="font-weight: bold;">{{dataElm.value}}</div>
              <input class="input tag-value" size="1" [(ngModel)]="dataElm.value" placeholder="" />
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-template>


