<div class="component">
  <ng-container *ngTemplateOutlet="voteTop"></ng-container>
  <div *ngFor="let target of vote.targetPeerId" style="font-size: 15px;" [ngClass]="{'box': true}">
    <ng-container *ngTemplateOutlet="voteAnswers; context:{ target : target }"></ng-container>
  </div>
</div>

<ng-template #voteTop>
  <form class="is-sticky-top">
    <div class="tab">
      <div>
        {{vote.voteTitle}}
      </div>
      <div>
        投票数:{{vote.votedTotalNum()}}/{{vote.voteAnswer.length}} 
        (棄権：{{vote.votedNumByIndex(-2)}})<span style="font-size:12px">※投票前に閉じると棄権</span>
      </div>
      <div>
      <ng-container *ngFor="let choice of vote.choices" style="font-size: 15px;">
        <button (click)="voteSend(choice)" name={{choice}} id={{choice}} 
        [attr.disabled]="isMyVoteEnd() ? '' : null">
        {{choice}}:{{vote.votedNumByChoice(choice)}}人</button>
      </ng-container>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #voteAnswers let-target="target">
  <div class="inventory-object">
    <div class="object-tags-box">
      <div class="table-cell">
        <div class="object-name">
          {{findPeerName(target)}} 
        </div>
        <div class="image-box">
          <div *ngIf="findPeerImage(target)" class="image cover" [style.background-image]="'url(' + findPeerImage(target).url + ')' | safe: 'style' "></div>
        </div>
      </div>
      <div class="table-cell">
        <div class="object-name">
          <ng-container *ngIf="findPeerLastControlName(target)">{{findPeerLastControlName(target)}}</ng-container>
          <ng-container *ngIf="!findPeerLastControlName(target)">操作キャラなし</ng-container>
        </div>
        <div class="image-box">
          <div *ngIf="findPeerLastControlImage(target)" class="image cover" [style.background-image]="'url(' + findPeerLastControlImage(target).url + ')' | safe: 'style' "></div>
          <div *ngIf="!findPeerLastControlImage(target)" class="image cover" [style.background-image]=""></div>
        </div>
      </div>
      <div class="table-cell message">
        <ng-container *ngIf="vote.voteAnswerByPeerId(target) == -1">未投票</ng-container>
        <ng-container *ngIf="vote.voteAnswerByPeerId(target) == -2">棄権</ng-container>
        <ng-container *ngIf="vote.voteAnswerByPeerId(target) >= 0">{{vote.indexToChoice(vote.voteAnswerByPeerId(target))}}</ng-container>
      </div>
    </div>
  </div>
</ng-template>
