:host {
  display: block;
}

.box {
  border-bottom:1px dotted #888;
}
.image {
  padding: 0px;
  width: 64px;
  height: 64px;
  display: inline-block;
  vertical-align: top;
}

.contain {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

/*2022/1/16現在、クロームバージョン: 97.0.4692.71（Official Build） （64 ビット）
キャレットの点滅で負荷がかかることへの対策不透明度指定*/
.is-caret {
  caret-color: rgba(0,0,0,0.95);
}
