<div class="component">
  <ng-container *ngTemplateOutlet="voteTop"></ng-container>
  <div *ngIf="peerList.length < 1">自分だけ</div>
  <div *ngFor="let peer of peerList" style="font-size: 15px;" [ngClass]="{'box': true}">
    <ng-container *ngTemplateOutlet="voteTargets; context:{ peer : peer }"></ng-container>
  </div>
</div>
<!--

       (click)=""  (dblclick)=""
       (click)="selectGameObject(gameObject)"  (dblclick)="focusToObject($event, gameObject)"
       [ngClass]="{'box': true,}">

-->

<!--    <ng-container *ngIf="!gameObject.hideInventory && gameObject.location.name == 'table'"> -->
<!--
  <div (contextmenu)="onContextMenu($event, gameObject)" *ngFor="let gameObject of getGameObjects(selectTab); trackBy: trackByGameObject"
     (click)="selectGameObject(gameObject)"  (dblclick)="focusToObject($event, gameObject)"
     [ngClass]="{'box': true, 'selected': (selectedIdentifier === gameObject.identifier)}">
    <ng-container *ngTemplateOutlet="gameObjectTags; context:{ gameObject: gameObject}"></ng-container>
  </div>
-->

<ng-template #voteTop>
  <form class="is-sticky-top">
    <div class="tab">
試験用TOPメニュー
<!--
      <label *ngFor="let inventoryType of inventoryTypes">
        <input name="tab" type="radio" value="{{inventoryType}}" ng-control="options" [(ngModel)]="selectTab">
        <div>{{getTabTitle(inventoryType)}} ({{getInventory(inventoryType).length}})</div>
      </label>
-->
    </div>
  </form>
</ng-template>

<ng-template #voteTargets let-peer="peer">
  <div class="inventory-object">
    <div class="object-tags-box">
      <div class="table-cell">
        <div class="object-name" style="width:3em;">
          対象
        </div>
        <div style="height:64px;" class="message">
          <div><input type="checkbox" [checked]="false"/></div>
        </div>
      </div>
      <div class="table-cell">
        <div class="object-name">
          {{findPeerName(peer.peerId)}}
        </div>
        <div class="image-box">
          <div *ngIf="findPeerImage(peer.peerId)" class="image cover" [style.background-image]="'url(' + findPeerImage(peer.peerId).url + ')' | safe: 'style' "></div>
        </div>
      </div>
      <div class="table-cell">
        <div class="object-name">
          <ng-container *ngIf="findPeerLastControlName(peer.peerId)">{{findPeerLastControlName(peer.peerId)}}</ng-container>
          <ng-container *ngIf="!findPeerLastControlName(peer.peerId)">操作キャラなし</ng-container>
        </div>
        <div class="image-box">
          <div *ngIf="findPeerLastControlImage(peer.peerId)" class="image cover" [style.background-image]="'url(' + findPeerLastControlImage(peer.peerId).url + ')' | safe: 'style' "></div>
          <div *ngIf="!findPeerLastControlImage(peer.peerId)" class="image cover" [style.background-image]=""></div>
        </div>
      </div>
      <div class="table-cell message">
        <ng-container *ngIf="peer.disConnectNotified">
          現在接続が切れていると考えられる相手です
        </ng-container>
      </div>

    </div>
  </div>
</ng-template>
