<div class="component">
  <ng-container *ngTemplateOutlet="voteTop"></ng-container>
  <div *ngIf="peerList.length < 1">自分しか部屋にいません</div>
  <div *ngFor="let peer of peerList" style="font-size: 15px;" [ngClass]="{'box': true}">
    <ng-container *ngTemplateOutlet="voteTargets; context:{ peer : peer }"></ng-container>
  </div>
</div>

<ng-template #voteTop>
  <form class="is-sticky-top">
    <div class="tab">
      <div>試験用TOPメニュー</div>
      
      <input type="radio" [checked]="true" name= {{initTimestamp}}_votetype value="rollcall" >点呼
      <input type="radio" name = {{initTimestamp}}_votetype  value="vote" >投票
      <input [(ngModel)]="voteContentsText" placeholder="投票内容を記述" name="voteContents" />
    </div>
  </form>
</ng-template>

<ng-template #voteTargets let-peer="peer">
  <div class="inventory-object" (click)="voteBlockClick(peer.peerId)">
    <div class="object-tags-box">
      <div class="table-cell">
        <div class="object-name" style="width:6em;">
          送信対象
        </div>
        <div style="height:64px;" class="message">
          <div><input type="checkbox" [checked]="!peer.disConnectNotified" id = {{peer.peerId}}_{{initTimestamp}} (change) ="onChange(peer.peerId)" name="vote_chk"/></div>
        </div>
      </div>
      <div class="table-cell">
        <div class="object-name">
          {{findPeerName(peer.peerId)}}
        </div>
        <div class="image-box">
          <div *ngIf="findPeerImage(peer.peerId)" class="image cover" [style.background-image]="'url(' + findPeerImage(peer.peerId).url + ')' | safe: 'style' "></div>
        </div>
      </div>
      <div class="table-cell">
        <div class="object-name">
          <ng-container *ngIf="findPeerLastControlName(peer.peerId)">{{findPeerLastControlName(peer.peerId)}}</ng-container>
          <ng-container *ngIf="!findPeerLastControlName(peer.peerId)">操作キャラなし</ng-container>
        </div>
        <div class="image-box">
          <div *ngIf="findPeerLastControlImage(peer.peerId)" class="image cover" [style.background-image]="'url(' + findPeerLastControlImage(peer.peerId).url + ')' | safe: 'style' "></div>
          <div *ngIf="!findPeerLastControlImage(peer.peerId)" class="image cover" [style.background-image]=""></div>
        </div>
      </div>
      <div class="table-cell message">
        <ng-container *ngIf="peer.disConnectNotified">
          現在接続が切れていると考えられる相手です
        </ng-container>
      </div>

    </div>
  </div>
</ng-template>
